[2021-07-23 05:21] cigrainger opened #1 "Add `pivot_wider` and `pivot_longer`"

[2021-07-23 05:21] cigrainger opened #2 "Add `group_by` and `summarise`"

[2021-07-26 03:00] cigrainger opened #16 "Add more datasets"
We'd love to have more datasets available. Toy datasets in `explorer` itself are very welcome. And if there are ideas for linking up to and consuming datasets from https://github.com/elixir-nx/scidata that's fantastic too.

[2021-07-26 05:44] cigrainger opened #17 "Handle randomness"
Some functions depend on random number generators (e.g. random samples). Need to come up with a unified way of setting seeds in Elixir and Rust.

[2021-07-27 03:38] #17 closed

[2021-07-28 07:42] #2 closed

[2021-07-30 03:45] cigrainger opened #21 "Implement Kino.Render protocol"

[2021-07-30 03:45] cigrainger opened #22 "Add tabular print method"
Useful influences:
https://github.com/alexhallam/tv
https://pillar.r-lib.org/dev/index.html

[2021-08-03 07:17] #1 closed

[2021-08-12 07:27] cigrainger opened #29 "`DataFrame.select/3` raises when attempting to drop > 1 column"

[2021-08-12 07:45] #29 closed

[2021-08-13 03:42] cigrainger opened #33 "Enable joining on columns with different names"

[2021-08-19 13:36] polvalente opened #36 "Improvements to the Inspect protocol implementation"
As discussed in the WG meeting, this is a suggestion to use the built-in Elixir functions for doc algebra to build the inspect representation

[2021-08-20 02:32] cigrainger commented on #36
For sure. I'd love a PR on this!

[2021-08-20 02:36] cigrainger opened #37 "Align comparison function names with `Nx`"
Functions like `Series.neq/2` should be `Series.not_equal/2` to align with `Nx.not_equal/2`.

[2021-08-20 06:01] josevalim commented on #21
This is being tracked in Kino for now. :)

[2021-08-20 06:01] #21 closed

[2021-08-20 07:49] #37 closed

[2021-09-04 12:00] sobolevn opened #44 "Does not work with `livebook/livebook` docker image"
Image docs: https://github.com/livebook-dev/livebook#docker

Installation with

[code]

Fails with:

[code]

I guess the solution is to provide a custom `livebook` image with extra dependecies.

[2021-09-04 13:22] sobolevn opened #45 "Install process fails with timeout in `livebook`"
<img width="929" alt="Снимок экрана 2021-09-04 в 16 20 34" src="https://user-images.githubusercontent.com/4660275/132095883-22c83d3c-622d-4d55-9d5c-b4312d55a669.png">

This code (inside `livebook`)

[code]

Fails with:

[code]

[2021-09-04 15:14] josevalim commented on #45
I cannot reproduce this issue. The Hex registry should do an HTTP request and it seems that is not returning in 60 seconds, so it would point related to your connection. Can you reproduce this issue consistently?

[2021-09-04 15:16] josevalim commented on #44
We will discuss adding this to Livebook, thank you!

[2021-09-04 15:16] #44 closed

[2021-09-04 15:25] josevalim commented on #45
Also, is there anything else written/logged?

[2021-09-04 15:33] josevalim commented on #45
Another question, does `Mix.install([{:explorer, "~> 0.1.0-dev", github: "amplifiedai/explorer"}])` inside `iex` work? Or does it also fail?

[2021-09-04 15:59] sobolevn commented on #45
Yes, looks like it was on my side. Now it works!

Thanks a lot, @josevalim!

P.S. I am doing several posts about the whole `elixir-nx` eco-system in https://t.me/opensource_findings I hope it will help you a bit with spreading the word! 👍

[2021-09-04 15:59] #45 closed

[2021-09-04 16:02] josevalim commented on #44
DIscussion here: https://github.com/livebook-dev/livebook/issues/543

[2021-09-06 07:27] sobolevn opened #51 "CI for rust code?"
It is a good practice to run:
1. `cargo fmt --check`
2. `cargo clippy`
on CI runs.

One more thing, Rust CI should run only when Rust code is changed.

I that's fine - I can send a PR.

[2021-09-06 07:37] cigrainger commented on #51
Yes please!

[2021-09-06 09:23] #51 closed

[2021-09-06 12:23] guigaoliveira opened #53 "implement some metrics for series?"
I would suggest implementing some common metrics for time series:
- Mean Squared Error (MSE)
- Mean Absolute Error (MAE)
- Root Mean Squared Error (RMSE)
- Mean Absolute Percentage Error (MAP)
- R-squared

The idea comes to use for forecasting applications.

** thinking about it, I thought there might be functions like sqrt (I know I can implement it by pow (..., 0.5) 😅) and log for series too.

*

[2021-09-06 23:20] cigrainger opened #54 "Implement lazy by default"
In a functional language with immutable data, memory management is important. The current implementation utilises `polars`'s eager mode and computes new dataframes for every function. Because the dataframes are represented as a [ResourceArc](https://docs.rs/rustler/0.22.0/rustler/resource/struct.ResourceArc.html), they are only dropped from memory when the GC runs. This can be pretty heavy on memo

[2021-09-06 23:26] cigrainger commented on #53
This is a pretty interesting one. I know that a `scikit-learn` equivalent for the `Nx` ecosystem is being worked on. I don't think `Explorer` is the right place for much of that functionality. However, there is a cost to copying data from its Rust representation to Elixir to then carry out these computations. I'll have to give it some thought.

@josevalim do you have an opinion on this? In R and P

[2021-09-06 23:35] cigrainger opened #55 "Additional backends"
Explorer is primarily an API. The idea for pluggable backends was shamelessly stolen from `Nx` and `dplyr`. With Rustler precompiled, we can depend in polars but we want additional ones in the future.

So with that said, these are the backends that I think make the most sense to implement. I'm curious to hear if there are others that might make sense. For example, I've mentally written off Spark a

[2021-09-07 05:42] josevalim commented on #54
The cool thing about a laziness is that the backend can actually be eager if it believes it is more efficient, although I doubt this is the case given immutability. For peeking, it should be very close to setting a limit and then executing the query, right? But it is probably important to keep it as its own callback, in case other backends may want to do optimizations (for example, maybe Ballista

[2021-09-07 05:47] josevalim commented on #53
We are exploring something like scikit-learn on top of Nx, so it may be less general purpose than scikit-learn. It may also be worth it to have some of those ideas on top of explorer too, maybe in this or as a separate library. I think we don't need to make a decision for now and we can wait until things develop a bit. And of course, others are free to explore this too!

[2021-09-07 07:06] drowzy opened #56 "Clarification / Question: Dataframe.filter AND/OR mask?"
I see in the docs that one can filter using a mask:

[code]

How does one create an AND/OR mask? I could compute them manually and use a list, but is there a better way?
Sort of what I'm looking for:

[code]

[2021-09-08 00:27] seanmor5 commented on #53
Just want to jump in and say I have been thinking about ways to marry Explorer and Axon. Specifically being able to pass in a Dataframe without having to convert to another representation and then getting a Dataframe back. But, perhaps there's another standard we can unify on within the ecosystem so that ML libraries like Axon and the scikit-learn equivalent can work with the same representations

[2021-09-08 10:10] cigrainger commented on #56
There's not anything built in right now, but I think something like this is a great idea. I _think_ polars has something for this. I'll look into it, but would also be happy to accept a PR. :)

[2021-09-08 14:51] drowzy commented on #56
Sure! I'll submit a PR :)

[2021-09-10 09:20] #56 closed

[2021-09-13 02:37] cigrainger opened #58 "Settle on strings vs. atoms for column names"
On this, I think the entire API is a bit split on this. I've tried to make both work in many cases where I felt it was more ergonomic, but I'm feeling the same as you that they should be standardised. I think the obvious way to do that is to settle on strings. Let's leave this the way it is right now and we can revisit this in a broader context.

_Originally posted by @cigrainger in https://github

[2021-09-13 06:00] josevalim commented on #58
They definitely have to be strings because I can see people using dataframes to work on external data and you don't want to convert to atoms. On the other hand, for things like dtypes, having them as atoms is definitely more convenient. So I would go with supporting both but normalizing all of them to strings on the facade API instead of the backend, as this is shared logic across all backends and

[2021-09-15 15:53] dustinfarris opened #59 "create data frame from records"
We are trying out explorer in our application to do some last-mile data shaping.

We pull records from the db and it would be nice if DataFrame had a function to ingest those.

Currently doing this:

[code]

[2021-09-16 22:36] cigrainger commented on #59
Oh totally, `from_records` or `from_list_of_maps` (the former certainly has a better ring to it) has been on the list and I'm feeling that pain as well in my use of it. Your solution looks good! I'll have a think as to whether I can serialise it and do the conversion rust-side to avoid a couple potentially expensive passes over the array elixir-side. This is one of the challenges with Polars being

[2021-09-17 06:48] josevalim commented on #59
I think `from_records` can be a bit misleading because of Erlang records. My suggestion would be to go with `from_list`. It has the benefit we can even change it to support lists of maps, lists of tuples, etc in the future.

[2021-09-17 06:59] cigrainger commented on #59
Good point! I like `from_list`. I'm less enamoured with the inverse in `to_list` but I think I can get over it. 😛

[2021-09-17 07:03] cigrainger commented on #58
This is pretty much the approach I've taken for column names -- support both but normalize on the facade API. There are a couple places where I think strings aren't supported and I'll try to root those out (the dtypes/schema approach above definitely is one of those). @losvedir what do you think about everything accepting strings for column names but some places _also_ accepting atoms where it may

[2021-09-18 16:48] losvedir commented on #58
Sounds good to me! As long as the whole interface accepts one or the other then I'm happy. And it makes sense to me for that to be strings not only because that works more easily with different backends per what José said, but also because that's what the library drives you towards in the core interaction with DataFrames: you do `df["my_col"]` and not `df[:my_col]` or `df.my_col`. From what I've c

[2021-09-21 01:42] #33 closed

[2021-09-21 02:04] arpieb opened #63 "Support `Series.fill_missing/2` also accepting a fixed scalar fill value"
I've got a `DataFrame` loaded with a pile of `nils` and would like to be able set those to a fixed value per the `Series.fill_missing/2` function:

[code]

Currently that function only accepts atoms referencing internal algorithms and raises an exception when passed a scalar.  Let me know if you need anything else or if I can help in any way.

Thanks!

[2021-09-22 01:54] cigrainger opened #64 "`DataFrame.read_parquet` and `DataFrame.write_parquet`"
Docs for Polars are here: [reading](https://docs.rs/polars/0.16.0/polars/prelude/struct.ParquetReader.html) and [writing](https://docs.rs/polars/0.16.0/polars/prelude/struct.ParquetWriter.html).

I've held back on implementing these as almost certainly a pure elixir backend won't be able to use it. I do think it's worth getting in though. Not sure what the best practice is here: just raising that

[2021-09-24 15:15] arpieb commented on #64
I had actually done some research on this a while back trying to leverage Parquet files from within Elixir.  Here are some resources I found but never got a chance to dig deeply into beyond generating the Erlang bindings for the Thrift definition (I was more focused on getting the data processed than tool-building at the time):

- https://github.com/apache/parquet-format
- https://thrift.apache.or

[2021-09-24 21:25] arpieb commented on #64
FWIW, I think raising an exception on unimplemented for a specific backend would be fine until it _is_ implemented, but doesn't hold up the progression of the explorer package.

For example, Nx didn't hold back on implementing features based on XLA in order to keep libtorch on parity, which is fine.

[2021-09-25 19:18] josevalim opened #65 "Read the default backend from the app environment"
As done here: https://github.com/elixir-nx/nx/commit/31b7c924f1f8de35e96271bf0d6972a79fc5f937

[2021-09-26 08:09] cigrainger commented on #64
Thanks for that @arpieb! Those are great resources to come back to for the pure Elixir implementation.

[2021-09-30 23:45] tylerbarker commented on #65
Is this still up for grabs? The equivalent Nx commit looks pretty straightforward - any gotchas/additional considerations I should keep in mind if I gave this a go?

[2021-10-01 00:31] cigrainger commented on #65
Definitely still up for grabs @tylerbarker! And I can't think of any gotchas or additional considerations, nope.

[2021-10-01 01:29] tylerbarker commented on #65
Sweet, thanks @cigrainger! I'll find some time over the weekend ✌️

[2021-10-03 12:42] #65 closed

[2021-10-05 12:41] dustinfarris opened #67 "caching rust deps locally"
Not sure if this is possible, but could you suggest a way to keep from having to recompile polars everytime we update to the latest commit here?

[2021-10-08 12:41] dgreiss opened #68 "Create DataFrame from Series"
Currently, the only ways to create a DataFrame is from a map or by reading from a csv file. It could be helpful to create a DataFrame from a Series (or a list of Series), while also providing column names.

Similarly, there's no way to add a Series with the correct length to a DataFrame.

Thanks for considering!

[2021-10-08 12:42] dgreiss opened #69 "Provide Column Name in Mismatched Type Error Message"
When `DataFrame.from_map`  throws an error when there is a mismatched type, the error message  does not give the column name where the error was found. This is especially needed when the data is large and not easily printed. For example this does not tell me which column is throwing the error:

[code]

[2021-10-08 12:46] dgreiss opened #70 "Improve type casting when creating a Series or DataFrame"
These 2 examples currently throw an error:

- `Explorer.Series.from_list([1, 2.0])`
- `Explorer.Series.from_list([nil, nil])`

Would it be possible for a mix of integers and floats down cast to floats, similar to how it is done when adding a two series:
[code]
For the list of `nil`s, would it be possible to be casted to a default type. In R, a list of `NA` is casted to a boolean type `tibble::tibb

[2021-10-08 12:47] dgreiss opened #71 "Allow user specified dtypes when creating a DataFrame from map"
Similar to how a user can specify the dtypes when reading from a csv, it would be helpful to allow the user to specify the dtypes when calling `DataFrame.from_map`.

Thanks!

[2021-10-08 22:23] rupurt commented on #55
@cigrainger big +1 to those data backends. There isn't currently an ecto adapter for `kdb+`. If one isn't possible I'd also throw that on the list of important backends.

[2021-10-09 00:58] cigrainger commented on #68
Having thought about this, you can use `from_map` like:

[code]
I actually think that one covers it.

This is the same as in R, taking the df from above:

[code]

[2021-10-09 01:16] cigrainger commented on #69
This is a very good point. That would be very helpful. I'm not sure at first glance what the best way of going at this is. My initial reaction would be either to pass the context down to `Series.from_list/1` or to make `Series.check_types/1` public and check the types in `DataFrame.from_map/1`. But the former seems like an unnecessary complication to the public API and the latter would require che

[2021-10-12 08:11] cigrainger commented on #68
Closing this one as I think it's handled by existing behaviour. Please let me know if you disagree!

[2021-10-12 08:11] #68 closed

[2021-10-12 08:12] #71 closed, assigned to nobody

[2021-10-12 13:28] dgreiss commented on #68
Agreed. Your solution is exactly what I needed.

[2021-10-22 03:18] cigrainger opened #74 "Implement `DataFrame.bind_rows`"
See: https://dplyr.tidyverse.org/reference/bind.html

[2021-10-22 03:18] cigrainger opened #75 "Implement `Series.concatenate`"

[2021-10-27 09:10] #74 closed, assigned to cigrainger

[2021-11-02 00:39] dgreiss commented on #70
Closed by #77

[2021-11-02 00:39] #70 closed

[2021-11-05 15:55] kenny-evitt commented on #22
I like this library for 'tabular printing' of, e.g. lists of maps, structs, `Ecto` schema-structs, etc.:

- [codedge-llc/scribe: Pretty print tables of Elixir structs and maps](https://github.com/codedge-llc/scribe)

[2021-11-05 16:17] kenny-evitt opened #80 "(Somewhat) silly question: what is a 'dataframe'?"
## TLDR

I'm just curious 🙂

## Too long to read

I *think* I know what 'dataframe' means. I've been thinking of writing my own 'datacube' Elixir library, basically an 'in-memory database table'.

But I'm still not exactly sure what 'dataframe' means and some other people are similarly (somewhat) confused; see:

- [Explorer - Dataframes for Elixir : elixir](https://www.reddit.com/r/elixir/comments

[2021-11-05 16:29] kenny-evitt commented on #80
This post (on a blog about a new Unix shell, of all things) actually seems to be trying to answer this very question:

- [What Is a Data Frame? (In Python, R, and SQL)](https://www.oilshell.org/blog/2018/11/30.html)

From that post:

The first item in that last list doesn't seem to be entirely true – or at least not according to Databricks about their *Spark DataFrames*:

So SQL tables are *kinda*

[2021-11-05 16:29] #80 closed

[2021-11-05 16:32] josevalim commented on #80
Good point. As things evolve, should we make sure to write the docs in a way we don't assume everyone has a ML/Pandas background.

[2021-11-05 16:38] josevalim commented on #22
Axon also uses https://github.com/djm/table_rex.

[2021-11-05 21:08] Nefcairon commented on #44
@sobolevn Do you have a working Dockerfile for using Explorer?

I'm desperate to create a Dockerfile for deployment at fly.io: https://elixirforum.com/t/deployment-of-nx-explorer-to-fly-io/43512/12

I hope you don't mind me asking here.

[2021-11-05 21:23] sobolevn commented on #44
@Nefcairon yes, but it is big: https://github.com/livebook-dev/livebook/pull/544

I think that the core-team is working on solving this: https://github.com/livebook-dev/livebook/issues/543#issuecomment-932874524

[2021-11-05 22:16] Nefcairon commented on #44
@sobolevn Thanks, using that Dockerfile I still get this error directly after it compiles explorer v0.1.0:

`
22:10:39.469 [warn]  The on_load function for module Elixir.Explorer.PolarsBackend.Native returned:
{:error,
 {:load_failed,
  'Failed to load NIF library: \'Error relocating /app/_build/prod/lib/explorer/priv/native/libexplorer.so: (null): initial-exec TLS resolves to dynamic definition i

[2021-11-06 07:53] sobolevn commented on #44
Nope, this is new to me 😞

[2021-11-18 07:15] josevalim opened #82 "Move datasets out of priv"
Files in priv are copied to build and are made part of the release, while likely very unlikely to be used there.

My suggestion is to move them out of priv. We have two options:

1. Move them to `examples` alongside moving `lib/explorer/datasets.ex` to `examples/fossil_fuel.exs`, etc

2. Move them to `datasets`. If we do this, we need to load them like this:

[code]

[2021-11-18 22:01] olivermt opened #83 "Feature request: Capture Stream from write_parquet"
Context: Be able to write stream to blob instead of having to roundtrip to disk, to allow for scenarios where you want fewer and bigger files

[2021-11-18 22:16] cigrainger commented on #83
What's the benefit here over just holding the dataframe in memory and appending to it until you're ready to write to disk?

[2021-11-18 22:20] cigrainger commented on #82
@josevalim I'm comfortable with either one. You're totally right they're very unlikely to be used as part of the release. In case 1, what's the easiest way to keep using them in doctests? I think that's where they're most important (along with notebook documentation). They do have a purpose for coming along for the ride to end users, which is for learning how the library works.

[2021-11-18 22:24] josevalim commented on #82
Option 2 would support them on doctests. :)

[2021-11-18 22:26] cigrainger commented on #82
Alright, I'll go with option 2 then. :+1:

[2021-11-18 23:11] #82 closed

[2021-11-22 06:37] Benjamin-Philip opened #85 "Proposal: Dynamically generate dataset functions at compile time"
Right now, in order to add a dataset, one needs to:

1.  Add the data in `datasets`
2.  Add a function for that dataset in the `Explorer.Datasets` module.

The Problem with this is that we are essentially writing the same code repeatedly:

[code]

[code]

In essence:

[code]

Note: I'm pretty new to macros, and I haven't tested this code..

I feel that this is unnecessary repetition which can easi

[2021-11-22 07:15] josevalim commented on #85
It is fine to repeat code when it is 2 LOC. If that still bothers, you can do:

[code]

And the duplication is effectively gone while being clear what is the docs, what is the function name, etc.

For example, what happens if we start removing the duplication and then we want to add specs or doc metadata? Or we want to add some post-processing to one of the datasets?

[2021-11-22 07:34] Benjamin-Philip commented on #85
So, my assumption is that all datasets are similar and needs to be managed in the same manner. So, if we want to add specs, they would all have the same spec which would be hardcoded in the generation. In the case of docs, it would be read from the`docs.md` file.

Won't a dataset be processed *before* being added to this repo?

However, I get your point of a special case for one dataset. In this c

[2021-11-22 07:43] josevalim commented on #85
Docs metadata are Elixir code, so we would need to start parsing the `.md` file and evaluating Elixir code. The point is exactly that if your duplication is 2 LOC, that is mostly declaring stuff with docs, specs, and not really any logic, then attempting to remove the duplication is most likely just adding indirection. For example, everyone expects docs to be in `@doc` file, not really in `.md`, a

[2021-11-22 08:12] Benjamin-Philip commented on #85
I meant reading the docs.md file at compile time and assigning it to the `@doc` annotation.

What do you think of this:

[code]

[2021-11-22 08:26] josevalim commented on #85
I understood. What I mean in the context of someone reading the source code later on, they wouldn't expect the docs in a markdown file.

Right, that's pretty much what I had in mind for `read!`. :)

[2021-11-22 08:30] Benjamin-Philip commented on #85
Yes that's an issue.

Shall I submit a pr then?

[2021-11-22 08:33] josevalim commented on #85
It is fine by me. I don't mind the current code but extracting it also works.

[2021-11-22 19:57] #85 closed

[2021-12-02 02:24] zhangzhen opened #87 "compilation succeeded, but the on_load function failed on my macbook pro (Big Sur) with apple M1 chip"
How can I solve this issue?
Error messages printed on the console where livebook is started:

10:03:43.111 [warn]  The on_load function for module Elixir.Explorer.PolarsBackend.Native returned:
{:error,
 {:load_failed,
  'Failed to load NIF library: \'dlopen(/Users/zhangzh/Library/Caches/mix/installs/elixir-1.12.3-erts-12.1/c8c0b2eb20455bd67cc55fc3c3acd0de/_build/prod/lib/explorer/priv/native/libe

[2021-12-02 07:13] josevalim commented on #87
I assume you are using Apple M1 or similar? The error says that one of the libraries used by Explorer is x86_64, but it doesn't say which one. Given it is dynamically linked, it is most likely a system library. You could try to use `otool` to debug it:

    $ otool -L /Users/zhangzh/test/my_app/_build/dev/lib/explorer/priv/native/libexplorer.so

Also try `otool` with no arguments to see other flag

[2021-12-02 07:25] zhangzhen commented on #87
@josevalim re-installing rust solved this issue. Apple M1 macbook I'm using was transferred from my old Intel macbook.

[2021-12-02 07:31] josevalim commented on #87
Fantastic!

[2021-12-02 07:31] #87 closed

[2021-12-18 23:07] puruzio opened #88 "Compilation error in file lib/mix/tasks/rustler.new.e"
Elixir 1.13
Erl.  24
Windows 10

Mix deps.get succesded, but running `mix phx.server`fails with the following error.

==> rustler

Compiling 7 files (.ex)

== Compilation error in file lib/mix/tasks/rustler.new.ex ==

** (File.Error) could not read file "r:/1.PY/Livebook/explore_df/_build/dev/lib/rustler/priv/templates/basic/.cargo/config": I/O error

    (elixir 1.13.1) lib/file.ex:355: File.read

[2021-12-20 21:00] ricpruss opened #89 "read_csv does not support gziped csv's"
It is common for large csv's to be compressed. Polars supports compressed csv's and autodecompresses them. Feature request maybe or maybe it was just turn off by mistake?

[2021-12-20 21:27] josevalim commented on #89
Can you please investigate? Could it also be a version issue?

[2021-12-22 00:32] ricpruss commented on #89
Okay, on investigation it is a optional feature, well in polaris allot of things are optional it seems.
Just adding "decompress", to the the depencies section of [dependencies.polars] in explorer/native/explorer/Cargo.toml fixes it.  I made a local working version!

[2021-12-22 01:14] cigrainger commented on #89
@ricpruss that's fantastic! Would you mind opening a PR with that addition? I'm sure others would benefit. :)

[2021-12-22 05:31] cigrainger commented on #88
Thanks for raising this and sorry for the slow response. I think this is an issue with Rustler rather than Explorer but I don't have a windows machine to try things out. Is that file definitely meant to exist? What's in your _build priv directory?

[2021-12-22 17:02] puruzio commented on #88
Is that file definitely meant to exist?
    The error message seems to suggest so.

What's in your _build priv directory?
  Nothing. It's a blank folder.

Let me close the issue as it probably is a rustler issue as you said. Thanks!

[2021-12-22 17:02] #88 closed

[2021-12-23 01:13] #89 closed

[2021-12-23 23:04] kimjoaoun opened #91 "Reading data from a web URL"
- Proposal: Reading a dataset (csv?) from the internet with `read_csv`.

I think it would be great if we had a way to read data from a URL when using `Explorer.read_csv()`.

In R's [library readr](https://github.com/tidyverse/readr) package (which uses [lib vroom](https://github.com/r-lib/vroom) as a backend) you can supply a string that starts with "http", "https", "ftp" or even "ftps" and it wil

[2021-12-24 00:27] cigrainger commented on #91
Definitely a great idea. I don't think we'll need to download to a temporary location -- we can just stream the file into memory. If you're keen to have a swing at it, feel free. I won't be able to get to it till after the holidays. But I'll have a go then otherwise. :+1:

[2021-12-24 01:01] kimjoaoun commented on #91
I'll try to do it :)

[2022-01-01 08:35] emilioforrer commented on #55
Hi @cigrainger , thanks for all the awesome work!

As for the back-end for `DataFusion`, can checkout this library that already have Elixir bindings for Apache Arrow, Parquet and DataFusion.

[elixir-arrow](https://github.com/treebee/elixir-arrow)

It seems like already implements the basics.

[2022-01-03 18:21] roger120981 opened #93 "Integrating geospatial data like geopandas does"
In python there is the [geopandas](https://geopandas.org) library that allows working with geospatial data within a dataframe (geodataframe) and series (geoseries), there is some possibility of integrating them in this project like in that library?

[2022-01-04 01:54] cigrainger commented on #93
Oh very interesting! This is far outside my wheelhouse but absolutely seems like a good idea. My understanding is that it might be worthwhile to implement the Simple Features Standard. https://en.wikipedia.org/wiki/Simple_Features.

This is where the reliance on a Rust library wholesale becomes quite hairy. I think it would need to be approached way upstream with Polars, with respect to maybe the

[2022-01-04 01:55] cigrainger commented on #55
Thanks for that @emilioforrer! I actually used @treebee's fork of `ex_polars` when initially building `Explorer`! I didn't realise they were also working on this. I'll look into it.

[2022-01-04 04:44] roger120981 commented on #93
I have been investigating the georust ecosystem a bit and it seems to me a good option, to carry geopandas you need management of projections, reading of different raster and vector formats and conversions between them, management of geometries and all those functionalities exist within their libraries, It would only be necessary to integrate them into the elixir as a first step.

[2022-01-05 21:16] kimjoaoun commented on #91
Ok @cigrainger I've just realised that might be too complex for me. You are free to do it :)

[2022-01-05 23:24] cigrainger commented on #91
No prob. Thanks!

[2022-01-06 22:33] philss commented on #93
I know this is not related to the feature request, but I want to add this just as reference for people that want to **work with Geospatial** data in the **Elixir ecosystem today**: if you are using [Livebook](https://livebook.dev/), you can work with [GeoJSON](https://geojson.org/) and [TopoJSON](https://github.com/topojson/topojson) (a subset of GeoJSON) through [VegaLite](https://hexdocs.pm/vega

[2022-01-07 14:25] roger120981 commented on #93
@philss

Excellent work!,

I am trying to integrate some functionalities of the georust ecosystem into an elixir NIF library in order to be used with spatial data, especially related to the gdal library that would allow working with a great variety of geographic data, both raster and vector.

Maybe you don't like the idea of using Rust very much, but there are more advances in this field than in e

[2022-01-07 16:23] philss commented on #93
@roger120981 thank you!

Cool! Please share with us when you have something.

I prefer to use Elixir when possible, but I agree that a NIF in Rust for this is a good idea. Specially if they have a complete set of tools for this field. Although we have some tools in Elixir like [Geo](https://github.com/bryanjos/geo) that can be used for some tasks without problems.

Just be aware of [some limitatio

[2022-01-07 16:59] roger120981 commented on #93
@philss Thanks for the observation.

[2022-01-09 16:42] kimjoaoun opened #96 "Corrupting data when converting integers after DataFrame.to_map()"
While I was using some functions I saw a weird behaviour when converting a DataFrame to a map.
In the `fossil_fuels` dataset, the `bunker_fuels` column value that originally was the integer `9` became a `'\t'`.

[code]

And it gets worse, because it is not just a printing problem, if I try to parse the map to a list using Map.to_list(), IEx returns a list with the same '\t' character

[code]

[2022-01-10 00:04] cigrainger commented on #96
`gas_fuel` appears to also be corrupted, returning `'J'`. Looking into this with urgency.

[2022-01-10 00:40] philss commented on #96
@kimjoaoun @cigrainger hey guys, I think this is just a matter of how Elixir is printing the lists. If you try this:

[code]

You can see that the inspected value is returned correctly. This is because by default IEx will try to infer the type of a list. Sometimes it is detected as `charlist`. See https://hexdocs.pm/elixir/Inspect.Opts.html for details.

To disable this behavior in IEx, you can ru

[2022-01-10 00:44] cigrainger commented on #96
Well that's a big relief @philss, thank you. I was very confused over here. Closing, as I've confirmed it:

[code]

[2022-01-10 00:44] #96 closed

[2022-01-10 00:52] kimjoaoun commented on #96
Thank you @philss and @cigrainger. Sorry for opening the useless issue. D:

[2022-01-10 01:20] philss commented on #96
@kimjoaoun no problem :)

[2022-01-24 14:05] kimjoaoun opened #103 "Ordered return on series distinct"
As it was noted in PR #101, currently it is not possible to test the `Explorer.Series.distinct()` function because of its unpredictable behaviour when returning the data. It shuffles the series and always returns the result in a different order.
It would be great not having this random behaviour.

Example

[code]

Different results in the same operation.

[2022-01-24 17:02] kimjoaoun commented on #103
I see that today we are using Polars' `s_unique` directly.
I know it might add a little overhead but what about reading the `series`, transforming it in a Polars `DataFrame`, adding a reference column with the right order, remove the duplicates and then apply Polars' [sort](https://docs.rs/polars/latest/polars/frame/struct.DataFrame.html#method.sort) to sort the data using the reference column.

[2022-01-24 18:03] josevalim commented on #103
Hi @kimjoaoun! Perhaps we should ask the Polars team what they think about it? What are their recommendations?

[2022-01-24 18:13] kimjoaoun commented on #103
Hi @josevalim!
I sent a Tweet (not the most formal communication method) to Ritchie and he replied with a possible solution.

https://twitter.com/RitchieVink/status/1485666068018384898

[2022-01-24 18:22] josevalim commented on #103
Ah, perfect. So it is really a matter of API design for Explorer. Maybe `distinct` should keep order and `unordered_distinct` for performance? 🤔

[2022-01-24 20:44] kimjoaoun commented on #103
@josevalim I think that's great. It is better then having an argument to make that switch, because its way clearer.

[2022-01-24 23:05] cigrainger commented on #103
Agreed, that makes sense. I could see going either way, but I think they're sufficiently different to merit different functions.

[2022-01-27 01:39] kimjoaoun opened #105 "Explorer.Series.pow does not work when supplied integers as exponent"
`Explorer.Series.pow` returns an error when the user supplies an integer as exponent. It only works when exponent is a float, and I think because of that all values in the Series are casted to floating point numbers, which is not a desirable behaviour.

When exponent is a integer:

[code]

When exponent is a float:

[code]

[2022-01-27 01:57] cigrainger commented on #105
Good catch. Unfortunately this is because `polars` only takes `f64` for the `pow` method: https://docs.rs/polars/0.18.0/polars/prelude/trait.SeriesTrait.html#method.pow.

I'm sure we could work around it, and at the very least document it!

[2022-01-27 07:24] josevalim commented on #105
@kimjoaoun if you could also ping polars folks and ask if they want to support an int version. It could be a good contribution upstream! :heart:

[2022-01-27 14:03] kimjoaoun commented on #105
@josevalim I'll ping them!
(se eu estiver sendo chato abrindo vários PRs, por favor, me avise)

[2022-01-27 14:04] josevalim commented on #105
Nah, you are being very helpful. Contributions are very welcome! :)

[2022-01-27 17:51] kimjoaoun commented on #105
@josevalim It looks like [pow() will be removed](https://github.com/pola-rs/polars/issues/2477), so I think they'll not support an `int` version. I think we would need to do what @ritchie46 suggested and coerce our `integer` to a `float` before sending the information to Rust.

[2022-01-27 19:40] ritchie46 commented on #105
A bit of context on my rationale to not have this included on the `Series` trait is that this will be compiled for every datatype in polars.

Doing so for many operations will put a lot of constrain on compile times of polars-core.

The recommended way for a user to apply a numeric operation like `pow`, `sin` `exp` etc. is downcasting the `Series` to the `ChunkedArray` and then calling `apply`

So

[2022-01-27 20:10] NduatiK opened #107 "Would it make sense to introduce a DataFrame.to_tensor?"
We have a `Series.to_tensor` method, however, for many ML tasks, we will want more than one column.

Would it make sense to add one for DataFrames?

Right now I am doing the following as a quick hack:

[code]

A sufficient implementation would at minimum include the following:
1. Control over which columns are selected and in what order
2. Control over the final data type (not sure if this would r

[2022-01-27 20:19] josevalim commented on #107
To me, a dataframe is a map of 1-dimensional tensors with the column names as keys.

In fact, `Nx` defines a `Nx.Container` protocol. My hope is that you can fully pass a dataframe into a `defn` function, and if you implement the protocol, all "columns" would automatically convert to tensors.

So for example, your floats-ints dataframe, if we implement the `Nx.Container` protocol, you could do thi

[2022-01-27 21:18] NduatiK commented on #107
This is interesting, I had only thought of DataFrame as tables. It definitely makes sense to return a map since it gives flexibility on the datatype of the individual 1-d tensors.

I will have a look at the Nx.Container and create a PR for discussion tomorrow.
- [ ]  Df.to_tensors_map(df)
- [ ] Nx integration through Nx.Container

[2022-01-27 21:23] josevalim commented on #107
I am not sure if we should do the `to_tensors_map` version. Today you can easily get a column as a series right? This means you can get a tensor for it. :) but exploration into containers would be cool!

[2022-01-27 23:28] cigrainger commented on #107
Hmmm... giving this some thought. @josevalim I totally agree. However, re: your point about a map of 1d tensors... while this is usually how I think about it too, sometimes a dataframe has portions which should be treated as two-dimensional tensors. For example, you might have generated dummy variables and it totally makes sense to treat that as a matrix. You may want to pass a dataframe of featur

[2022-01-27 23:30] cigrainger commented on #105
Thanks for the clarification @ritchie46! That makes total sense as a preferred path forward.

I'm fighting against a Wednesday deadline with work at the minute but could pick this up after. Otherwise @kimjoaoun if you're keen then I can definitely give some guidance and would be happy to review a PR.

[2022-01-27 23:45] #67 closed

[2022-01-27 23:54] dustinfarris commented on #67
@cigrainger was this resolved?

[2022-01-28 00:17] cigrainger commented on #67
@dustinfarris precompiled Polars will be available soon. I was closing as I thought @philss answer solved the specific issue -- if that's not right I'm happy to reopen.

[2022-01-28 00:21] philss commented on #67
Just to give an update: we are waiting for this PR to get merged (or we publish that work as a separated package): https://github.com/rusterlium/rustler/pull/419

I can ping you here when we have the feature :)

[2022-01-28 01:38] dustinfarris commented on #67
ok got it thanks for clarifying — i'll keep watching the repo for an update on precompiled.

fyi for anyone else watching this, we went with a slightly different workaround:

[code]

which has been working fairly well in CI (except when GitHub Actions randomly busts our cache for no reason)

[2022-01-28 02:32] kimjoaoun commented on #105
@cigrainger I accept the guidance, I'll start working on that. If I have a question I should contact you with a PR comment?

[2022-01-28 02:39] cigrainger commented on #105
@kimjoaoun that's probably the best in terms of having a record to point to for others contributing. But you can also get me on the EEF or Elixir slacks (same username) or via email at chris at amplified dot ai.

[2022-01-28 05:49] NduatiK commented on #107
The `sklearn` and `pandas` example is indeed what I was thinking of.

I had been worried about the datatypes on the final tensor but it is already possible to isolate the numeric columns with a `select` and then convert the result to a preferred tensor type using `Nx.as_type`.

I will look into `Nx.Container`

[2022-01-28 07:50] josevalim commented on #107
So what do you think about `DF.to_tensor(df, ["height", "width"])`? This ends up a 2d tensor.

[2022-01-28 09:34] NduatiK commented on #107
Not sure if you are are asking me or @cigrainger, but that sounds looks good to me. I am doing the same thing

[2022-01-28 09:41] josevalim commented on #107
I was asking both/everyone. :)

What do you mean?

[2022-01-28 10:58] josevalim commented on #107
One thing is that tensor names are atoms and columns are strings. But perhaps we could introduce a convention: if the column name is a string, then it is not named in the tensor. If an atom, it preserves its name in the tensor?

[2022-01-28 11:20] NduatiK commented on #107
I meant: Given dataframes do not have an obvious sorting of columns, would the returned tensor contain information about which series on the dataframe a column was created from. A DF with age and salary would lose data semantics as soon as it turns into a tensor. One would have to get the `DataFrame.names` and keep that around.

Whoops, just reread the docs. Turns out tensor names actually identif

[2022-01-28 11:45] josevalim commented on #107
Ah, good call. The information is then lost, I am afraid.

Right, my understand right now is that those are two separate problems. Nx.Container is about accessing each column individually. What you told me is that sometimes you may also want to get certain (or all?) columns from DF as a matrix, that would be a different operation (either `to_matrix` or `to_tensor`).

[2022-01-28 13:08] NduatiK commented on #107
Yes, my original issue was about a convenience function on the DataFrame itself.

By default it converts all columns, but a list of names can be passed in.
When the list of names is provided, the tensor is ordered by that list.

When the names are not provided, we might need to return the list of columns. `names` depends on the backend and I am not sure if all will guarantee ordering.

[2022-01-30 22:01] kimjoaoun commented on #91
Oh, I've just realised that [scidata](https://github.com/elixir-nx/scidata/blob/master/lib/scidata/utils.ex)'s `get!()` implements something similar. It might be useful taking a look at it.

[2022-01-31 00:27] #105 closed

[2022-01-31 01:15] kimjoaoun commented on #63
Hey @cigrainger can I get this one?

[2022-01-31 01:21] cigrainger commented on #63
Yes please!

[2022-01-31 10:46] NduatiK commented on #107
Hi @josevalim, what has prevented the implementation of an Nx.Container implementation so far? I had assumed that the solution would be as simple as adapting the `Map` implementation.

Are there any special cases to be aware of given the different backends and the possible need to transfer values to the device.

[2022-01-31 10:47] josevalim commented on #107
I think there are no blockers, it is just that nobody implemented the solution so far. I think the implementation is similar to maps, yeah. I would even make it so the Dataframe becomes a map.

[2022-01-31 10:55] NduatiK commented on #107
Got it, thanks

[2022-02-02 19:51] #63 closed

[2022-02-03 00:57] kimjoaoun commented on #22
I've been doing some experiments with `table_rex` and achieved this result are you looking for something similar to this?

![last_screenshot](https://user-images.githubusercontent.com/43274384/152263260-1ed43cdc-0114-429d-ad9e-2ebbee230c8f.png)

[2022-02-03 01:05] cigrainger commented on #22
Yes! That's fantastic.

[2022-02-03 01:10] kimjoaoun commented on #22
Hehe, ok. As you can see, the code need some fixes (types are in the wrong order), I'll work on that.
But another question, where would we put this function? In which file?

[2022-02-03 01:18] cigrainger commented on #22
It'd go [here](https://github.com/elixir-nx/explorer/blob/main/lib/explorer/inspect.ex). I'd like to keep the current version as `DataFrame.glimpse(df)` but honestly the code is a hot mess.

[2022-02-05 12:07] srowley commented on #91
I would be willing to take a stab at this. I am inclined to use an HTTP client library like [Req](https://github.com/wojtekmach/req) so that you could pass options for authentication, etc., but if adding a dependency is undesirable could use `:httpc.request`, more or less copying the scidata approach. Could also make Req optional I guess and use `:httpc.request` if it isn't loaded.

WDYT?

[2022-02-06 19:15] srowley commented on #91
I have a POC with `:httpc.request` basically working, but it does rely on copying the file to a temporary directory.

I don't immediately see how to modify the Rust backend CSV reader to accept a string as  opposed to a filename. That is not saying much as I don't know much Rust, but I would need some guidance there if the goal is to not copy the file.

[2022-02-06 20:26] josevalim commented on #91
@srowley I don't know how Rustler works but maybe you could try passing a tuple `{:file, ...}`? Or have a separate functions in the backend, like: read_csv_from_file, read_csv_from_url, read_csv_from_memory, and then pick the appropriate one from Elixir.

[2022-02-06 21:52] kimjoaoun commented on #91
I don't know if this approach that @josevalim suggested works, what I know is that Polars currently only supports file paths as inputs. The `polars-io` engine can't read CSV's from strings.
I think we need a way to trick `polars` into thinking our string is a path, but no ideas on how to do so, I failed in all my attempts. I think @cigrainger might have a clue on how to implement this one.

[2022-02-06 22:05] josevalim commented on #91
Some programming language have the abstraction of BufferReader and similar. So you can read a file or in memory contents and it is transparent for the code. Does Rust/Polars have something similar? If so, could we use it?

[2022-02-06 22:22] srowley commented on #91
From [the documentation](https://docs.rs/polars/0.18.0/polars/prelude/struct.CsvReader.html) it kind of looks like it - it appears we could use `CsvReader::new` instead of `CsvReader::from_path`), but how to do that exactly is not obvious to me.

[2022-02-06 23:09] cigrainger commented on #91
Thanks @srowley! I agree it does look that way from the documentation and I'd be surprised if it didn't work. I'll take a stab at it and report back shortly.

[2022-02-07 00:01] cigrainger commented on #91
Yep! That does it. As a minimal experiment I added the following to `./native/explorer/src/dataframe.rs`:

[code]

Then just added `df_read_buf` to `./native/explorer/src/lib.rs` and to `./lib/explorer/polars_backend/native.ex`. Then you can try it out with:

[code]

You should get `polars`'s native tabular output.

[2022-02-07 00:08] cigrainger commented on #91
Also sorry not to weigh in on this earlier @srowley -- first, thanks so much for picking this up. Second, yeah I think `:http.request` is preferable to avoid a dependency (as much as I'm a fan of Wojtek's work on `Req`).

[2022-02-07 11:35] srowley commented on #91
No worries! @cigrainger I do want to make sure I understand how you want to proceed from here. Would you prefer to:

1. Modify the `Explorer.Backend.DataFrame` behavior so that `read_csv` can accept a filename or binary, and then modify the Rust backend so that it figures out what do based on the argument passed to it
2. Modify the behavior so that there are `read_csv_from_file` and `read_csv_from

[2022-02-07 21:57] cigrainger commented on #91
@srowley let's go with 2. I think that's the clearest. You should be able to extract some shared logic from `df_read_csv` to use in  `df_read_buf`.

[2022-02-08 21:41] nyo16 commented on #91
Let me know if I can help anyhow or if you have any branch that you working on.

[2022-02-09 02:46] guigaoliveira opened #115 "inconsistency when running Explorer.DataFrame.pivot_wider/4"
columns "a" and "b" change order when executing:
[code]

[2022-02-11 23:18] #22 closed

[2022-02-13 22:42] cigrainger commented on #55
@kimjoaoun I'd like to make some progress on #54 first, which I've started as of last week. It should inform the other approaches.

[2022-02-14 00:54] cigrainger commented on #115
I think this is just a product of the way this is done in `polars`, which is to say it's either done with a hashmap or concurrently. I'll look into sorting the pivot.

[2022-02-14 01:35] srowley commented on #55
One thing to consider is the approach for testing; I worked on a pure Elixir backend for `Series` this weekend just to get familiar with it, and testing a different backend is a challenge given all the doctests (hard to just implement one thing at a time), a test that relies on the underlying RNG implementation here, a test that is tied to the `DataFrame` implementation there (I think, that one co

[2022-02-14 02:54] cigrainger commented on #55
Thanks @srowley good point.

Just as a PSA I think we'll skip the pure Elixir backend because @philss has been working on precompilation, so the pain point we wanted to address should be moot.

[2022-02-14 09:06] josevalim commented on #55
I also think it may be easier to go with Postgrex/Myxql directly rather than Ecto. I have a hunch that if we use Ecto we will be mostly fighting against its DSL and we really only need a small subset of what Ecto provides.

[2022-02-14 09:13] cigrainger commented on #55
Hmmm.. my thinking was that the Ecto DSL was exactly what would make it more approachable. For example, a big chunk of `dplyr` is the way it builds composable queries and translates to SQL: https://dbplyr.tidyverse.org/articles/sql-translation.html#single-table-verbs. So in the same way that we can leverage the polars lazy API and build up queries against in memory dataframes, we can leverage the

[2022-02-14 11:53] josevalim commented on #55
As an example, I think Ecto queries do not allow the field names to be strings. So at least this would need to change. Plus Ecto brings changesets, schemas, transactions, the necessity to define a repository per connection... and I think none of this is actually necessary by Explorer? The only part that is really necessary is the AST to SQL layer and that's the smallest problem Ecto (ecto_sql) sol

[2022-02-14 19:52] cigrainger commented on #55
That makes a lot of sense. It definitely seems like it would bring a lot of unnecessary baggage. I suppose I'm just a bit daunted by building up an AST from Explorer functions and translating them to SQL. If I'm overestimating that task, then absolutely happy to skip Ecto and just rely on the adapters.

[2022-02-15 21:16] hoetmaaiers opened #119 "DataFrame cast string to Time"
I am kinda stuck with a simple problem. Since I can't find the solution in the documentation and [SO](https://stackoverflow.com/questions/71062847/elixir-explorer-dataframe-cast-string-to-time?noredirect=1#comment125638945_71062847) is quiet, maybe this is the place? Even if only this issue serves as documentation for someone else, it might be worth it?

So my simplified scenario:

I try to cast a

[2022-02-15 21:48] philss commented on #119
Hi @hoetmaaiers :wave:

I believe you can't change the type of the series in the transformation.
Since you are trying to execute Elixir code for this, how about using `Enum.map/2` for the transformation?

Something like this:

[code]

WDYT?

[2022-02-16 04:34] cigrainger commented on #119
This is a bug! We shouldn't assume you're not changing dtypes when using `Series.transform/2`. I'll fix it. :+1:

[2022-02-16 06:01] cigrainger commented on #83
@olivermt I'm a bit unclear on this so going to close for now. If you can clarify a bit more for me I'd be very happy to reopen!

[2022-02-16 06:01] #83 closed

[2022-02-16 06:03] cigrainger commented on #16
I think three is a good number to close this at, but always happy to take PRs for more!

[2022-02-16 06:03] #16 closed

[2022-02-16 06:03] cigrainger commented on #58
This was actually closed with #62!

[2022-02-16 06:03] #58 closed

[2022-02-16 07:28] #103 closed

[2022-02-16 07:28] #75 closed

[2022-02-16 07:29] #119 closed

[2022-02-16 08:54] hoetmaaiers commented on #119
Thank you @philss , thinking outside Explorer with regular Elixir, why didn't I think of this myself...

@cigrainger, does this mean @philss isn't the only way of doing this?

[2022-02-16 08:59] cigrainger commented on #119
@hoetmaaiers the solution suggested by @philss is basically what Explorer is doing under the hood anyway. The fix I pushed today means your original code will work now -- it was a bug I introduced when implementing `Series.transform/2`. I accidentally had it so there was an assumption that transform would retain the original dtype and that's not every useful 😀. So now we check the dtype of the new

[2022-02-16 14:46] kimjoaoun commented on #115
@cigrainger could we solve this problem using the `take`-method used in #121? They look similar.

[2022-02-19 20:40] hoetmaaiers commented on #119
The combination of DataFrame.mutate and Series.transform isn't working for me. Probably it is my bad, but the documentation seems to miss this combination. What am I doing wrong?

[code]

Return m this compile error: `** (CompileError) dataframe.exs:36: nested captures via & are not allowed: &transform_duration.(&1["a"])`

[2022-02-19 21:31] josevalim commented on #119
You are not allowed to use & inside &, that’s what the syntax error is telling you. Could the error message have been clearer in this case?

[2022-02-20 08:53] hoetmaaiers commented on #119
No the error message is clear, no doubt. I'm struggling with the proper combination of transform and mutate and tried several approaches.

Maybe the documentation for this use case can be clearer? I based myself on the notebook example in this repo.

[2022-02-23 20:16] kimjoaoun commented on #59
@cigrainger can I get this one?

[2022-02-23 22:21] cigrainger commented on #59
@kimjoaoun sure! Feel free to have a run at it :).

[2022-02-25 14:03] isaacsanders opened #126 "I'd love to be able to read from s3, like in Apache Arrow"

[2022-03-01 13:01] kimjoaoun commented on #126
You mean reading a dataframe using something like this example below?

[code]

[2022-03-01 13:15] isaacsanders commented on #126
Or via URL, `s3://bucket-name/data/date=2022-03-01/`

[2022-03-01 13:15] isaacsanders commented on #126
Arrow defines “file system” types that enable this behavior.

[2022-03-02 00:00] kimjoaoun commented on #126
@isaacsanders wouldn't this require some sort of authentication with the AWS IAM?

[2022-03-02 04:26] philss commented on #126
I like the idea but I would suggest to not include such feature in the project right now because of the dependencies we would need to require.
Maybe a good approach would be to create such functionality in a separated project first. WDYT?

[2022-03-11 18:54] isaacsanders opened #128 "Reading "partitioned data""
Hey all,

I'm looking into using this project, and I don't know that there is an API for reading "partitioned data" as defined in the Apache Arrow documentation (source: https://arrow.apache.org/docs/python/dataset.html#reading-partitioned-data).

Both the python and nodejs libraries appear to implement this pattern.

[2022-03-11 21:01] isaacsanders opened #129 "Implement "vstack""
Right now it doesn't seem there is a way to concatenate DataFrames. There is a function for this: https://docs.rs/polars/0.14.2/polars/frame/struct.DataFrame.html#method.vstack

[2022-03-11 21:07] cigrainger commented on #129
We’ve got this one. It’s `Explorer.DataFrame.concat_rows`. https://github.com/elixir-nx/explorer/pull/76

[2022-03-11 21:07] #129 closed

[2022-03-11 21:10] isaacsanders commented on #129
I missed that. Are there docs somewhere that make it easier to discover the API? I was using the livebook when I was looking for this.

[2022-03-11 21:46] cigrainger commented on #129
Yep! The sidebar has https://elixir-nx.github.io/explorer, which is where our docs are living until a Hex release.

[2022-03-11 22:03] isaacsanders commented on #129
@cigrainger Why is the name different than the existing Elixir APIs and the existing Polars APIs? Creating a different name feels like it would require a pretty significant reason.

[2022-03-11 22:03] isaacsanders commented on #129
This will be super helpful, thanks!

[2022-03-11 22:09] cigrainger commented on #129
The name is a combination of pandas' concat and dplyr's bind_rows. It's basically the former but specifying the axis. Re: the latter, bind was chosen because concat was taken.

[2022-03-12 08:01] josevalim commented on #129
I think I was the one who mentioned `concat_rows` but if we go with dplyr naming everywhere, then maybe it should be `bind_rows`? Is there any other API where we diverge the naming? :)

[2022-03-12 19:41] cigrainger commented on #129
We diverge in a few places. And dplyr had to deal with avoiding naming collisions due to the way R is commonly used. dplyr differs from data.table, which differs from pandas, which differs from polars, which differs from DataFrames.jl. In most cases the APIs have minute differences due to the philosophy behind them or the language used and the naming corresponds to that. I don't think that we're r

[2022-03-16 01:54] philss commented on #128
Interesting. I don't think we have this feature in Explorer today, but could be a nice one to have in the future :)

I notice that [Polars](https://github.com/pola-rs/polars) doesn't have it either, so maybe it's a good idea to implement there first. They have two issues for that: https://github.com/pola-rs/polars/issues/2257 and https://github.com/pola-rs/polars/issues/426

[2022-03-16 01:59] philss commented on #126
Yeah, I changed my mind. I think it worth to add this feature :+1:

[2022-03-16 07:19] cigrainger opened #131 "from_map -> from_series"
_Originally posted by @josevalim in https://github.com/elixir-nx/explorer/pull/130#discussion_r827678334_

[2022-03-16 07:20] #115 closed

[2022-03-16 08:18] josevalim commented on #131
I would also rename `from_list` to `from_rows`. :)

Another thing to consider is if we also want to support `from_series(%{a: some_actual_series, b: another_actual_series})`. If we don't, then perhaps it should be called `from_cols` or `from_columns`.

[2022-03-17 04:58] cigrainger commented on #126
I agree. I think the example [here](https://github.com/jorgecarleitao/arrow2/tree/b70483ed6a56760d6ad514841a613885ca4a9eeb/examples/s3) should give us a good start. I'll look into this.

[2022-03-17 20:31] philss opened #135 "Should `concat_rows` concat series with integers and floats?"
When creating a new `Series` one can use `Series.from_list/1` that accepts both `integers` and `floats`:

[code]

But it is not possible to `concat_rows` with data frames that have mixed column types:

[code]

Should we have the same behaviour from `Series.from_list/1` for `DataFrame.concat_rows/2`?

This issue was found by @cristineguadelupe :)

[2022-03-17 20:47] cigrainger commented on #135
Yes for sure!

[2022-03-17 22:21] philss commented on #135
I'm going to try a fix for this.

[2022-03-17 23:01] #131 closed

[2022-03-20 21:40] #59 closed

[2022-03-20 23:50] cigrainger commented on #53
As I believe https://github.com/elixir-nx/scholar will fill this niche (once we've implemented the `Nx.Container` protocol), I'm closing this as it won't live here.

[2022-03-20 23:50] #53 closed

[2022-03-21 03:48] cigrainger opened #139 "Read and write JSON"
Should be pretty straightforward. https://pola-rs.github.io/polars/polars_io/json/index.html

[2022-03-21 03:50] cigrainger opened #140 "Read and write Arrow IPC"
Should be pretty straightforward. https://pola-rs.github.io/polars/polars_io/ipc/index.html

[2022-03-22 17:23] #135 closed

[2022-03-29 03:58] cigrainger commented on #139
Yep, I think that's the best way to go. And no I don't mind at all!

[2022-03-31 00:18] #140 closed

[2022-03-31 00:20] #69 closed

[2022-03-31 22:40] cigrainger opened #147 "Document use cases of Arrow IPC format"
So if I get this right, is this mostly a way to serialize/deserialize dataframes? What are the use cases? Maybe we should have one or two paragraphs in the docs breaking this a bit down? :)

_Originally posted by @josevalim in https://github.com/elixir-nx/explorer/issues/144#issuecomment-1084166397_

[2022-04-06 02:02] philss opened #150 "Possibility to create a series from a list of `nils`"
Should we allow series to be created from a list of `nils`?

[code]

The current version doesn't allow it - an error sample is displayed above -, so we have to either create the series with one element not being `nil`, or create the dataframe specifying the `dtypes` for our columns. My concern is that some datasets may include columns that are empty and may be hard for the user to spot that.

Both

[2022-04-06 02:07] cigrainger commented on #150
I'm happy to do that and keep in line with the behaviour of `py-polars` and `nodejs-polars`. Makes sense to me!

[2022-04-06 02:29] philss commented on #150
Nice, I will change that tomorrow :)
Thanks!

[2022-04-08 18:54] philss opened #156 "Use microseconds instead of milliseconds for datetimes"
Since [Polars supports it](https://github.com/pola-rs/polars/pull/2626), we can have more precision when creating datetime series.

[2022-04-10 03:31] SebastianSzturo opened #157 "Pandas-esque `describe` method"
Are there any plans for a pandas-like `describe` method that would combine some of the aggregate methods (count, mean, standard deviation, peak) into a table to give you a rough understanding of the data, or is that out of scope of this library?

![1_CekpyUXF-TmP_m2YZCI7gg](https://user-images.githubusercontent.com/2699745/162600232-93823c59-871c-4c75-b791-357818e10749.png)

[2022-04-10 13:16] halian-vilela commented on #157
Hey @SebastianSzturo,

If I understood correctly it will a feature of Kino and Livebook in the near feature. There's already a [PR](https://github.com/livebook-dev/kino/pull/42) on Kino where this feature is being worked on (almost ready tbh) and waiting to be released.

That's definitely something I also miss and I think will help a lot on having a broad view of datasets.

[2022-04-10 13:34] halian-vilela opened #158 "`Series.equal` behaviour for arbitrarily sized Series"
Hey folks,

I were doing some tests yesterday and realized that - different than I would expect - making comparisons using `Series.equal` for any RHS in which the length is **not** 1 or **exactly the same length** as LHS would raise an error.

Some context:

## From documentation
[code]
 But if I try to compare with an arbitrarily sized Series, it won't work:

[code]

In R, the comparison occur, b

[2022-04-10 13:42] josevalim commented on #158
What do you think should happen? I would prefer to raise, but with a better error message.

[2022-04-10 13:43] halian-vilela commented on #158
Sorry! I sent the message without the full content. It must be clearer now.

[2022-04-10 13:59] josevalim commented on #157
I think we still need describe in here. Does dplyr have something similar?

[2022-04-10 15:45] halian-vilela commented on #157
Oh, I see... I was too obsessed about the table view! Hahaha.

I don't think `dplyr` has a summarization other than glimpse.

We do have `summary` in base R, which gives a not so nice summary of each row:

[code]

 But we do have - in another package called `skimr` - the function `skim` that returns a very nice table similar to `describe`:

[code]

 Maybe we should follow this path... 😄

[2022-04-10 23:35] kimjoaoun commented on #158
Hi @halian-vilela, nice to see you here!

I do not really think that we should add this type of behaviour. It makes the code unpredictable and forces the user to always check the Series' size before making comparisons. It's not one the best features that `R` has.

If you check the `vctrs` package (which is a modern tidyverse internal library that makes the work with vectors in R more consistent) y

[2022-04-10 23:59] kimjoaoun commented on #157
It doesn't but I think that's because, as said by @halian-vilela, base R does have a feature to do summary statistics.

And Wickham thought that this feature shouldn't be in [dplyr](https://github.com/tidyverse/dplyr/issues/1514#issuecomment-154461813). In our case, I do agree that we should have a `describe/1`. I prefer `describe()` over `summary()` because the last one is too similar to the alre

[2022-04-11 00:11] kimjoaoun commented on #156
It looks like Polars is also supporting nanoseconds!

[2022-04-11 22:53] cigrainger commented on #158
I agree, we need a better error message. That's the way to go.

[2022-04-11 22:55] cigrainger commented on #156
Yep, not a bad idea at all! If we can support nanoseconds we should. As we start to expose some more of the time series functionality this will be important.

[2022-04-11 23:06] cigrainger commented on #157
This should totally be in Explorer :). It doesn't require new dependencies and it would be obnoxious for it to be a dedicated library. Not only is it useful, but I think it's a good opportunity for a blog post showing what you can do with Explorer. I'd like to jump on this one if that's okay :grin:.

[2022-04-11 23:19] #147 closed

[2022-04-11 23:32] halian-vilela commented on #157
Hey @cigrainger!

Nice, I would suggest that you take a look at the mental model `{skimr}` uses to implement it. I really like the way they separate the summary by the column types. I agree that - for Explorer and Elixir - it's overkill to have a dedicated library just for that, but also, exactly for being dedicated, `{skimr}` has a lot of small features and allow for little customizations.

I wou

[2022-04-12 00:28] #150 closed

[2022-04-12 02:21] halian-vilela commented on #158
Hi @kimjoaoun, happy to be here, thanks! 😄

Well, let me expand a little bit on what I observed about possible behaviours and how R deal with them.

We could divide these comparisons into 4 categories (I'm excluding, for brevity, obviously wrong arguments like missing arguments or different data types):

## Case 1 (expected):
`Equal Lengths`

[code]

## Case 2 (expected):
`n-length` vs. `1-length`

[2022-04-12 17:11] philss commented on #156
OK, I will investigate this. I think we may have a problem with nanoseconds, because it may require a shorter range of dates due to the [limits of `i64`](https://doc.rust-lang.org/std/primitive.i64.html).

There is also the point that we can't represent ns in Elixir, since [`NaiveDateTime`](https://hexdocs.pm/elixir/NaiveDateTime.html) only supports microseconds.

[2022-04-13 02:24] cigrainger commented on #156
I think we should match what we can do in elixir. So I think in that case microseconds is the way to go.

[2022-04-13 03:26] qzg opened #160 "What is the best way to pass a custom :datetime format?"
I'm parsing a file with dates formatted like "11/27/2013 18:55:58.000000" and getting the message:

I'm assuming that date format is just not compatible with whatever standard formats are being tried.

Is there (or could there be) a way to define a custom format and pass it to Polars?

Thanks!

[2022-04-13 03:50] halian-vilela commented on #158
Hey guys, since that was labeled as a _good first issue_, I'm trying to implement the conditions to raise the correct errors, hope this is ok for you all.

So far so good, but there are some points I would like to argue before moving on:

1. Do you think it's clear enough to mention only RHS in the error? I mean, we will always have the LHS as the reference, so I think it's enough to ask the user

[2022-04-13 05:31] josevalim commented on #158
If we can show the length for both left and right sides, then that’s even better. And yes, the new handling of empty lists is on purpose!

[2022-04-13 13:40] kimjoaoun commented on #160
Hi, qzg!
Could you please provide us with the block of code that you were trying to run?

[2022-04-13 14:43] philss commented on #160
Just to complement: we don't have an option for that today. I'm not sure if it's possible to pass down to Polars from the `read_csv/1` operation. But would be a nice feature to have.

For now I think you need to disable the parsing of dates ([`parse_dates` option to false](https://elixir-nx.github.io/explorer/Explorer.DataFrame.html#read_csv/2)), and parse the dates in Elixir. You can use [`Timex`

[2022-04-13 14:45] philss commented on #158
@halian-vilela this is probably due to cache. Please try to pass the `force: true` option to your [`Mix.install`](https://hexdocs.pm/mix/1.13.4/Mix.html#install/2) call.

[2022-04-13 16:20] kimjoaoun opened #161 "Select DataFrame columns using a range of numbers."
### Problem

I realised that it is currently impossible to select DataFrame columns using a range of values:

[code]

or...

[code]

### Possibility

I think that a possible implementation is to create a new `select/3` that accepts a range (`1..3`, for example) as the `columns` argument and returns a new DataFrame with the columns which the indexes fall within the range. That might be done using [

[2022-04-13 17:11] halian-vilela commented on #158
Hi @philss ! Thanks for the info. I didn't try to reload the notebook yet because I'm using it as a source of how the original code was working. As I'm still messing around with the errors and how `Series.equal/2` deals with lengths, it's nice to have a comparison and it was already there, loaded in the browser! 🤣

I'm planning to send a PR on this stuff today, I'm just polishing some last things

[2022-04-13 20:51] cigrainger commented on #161
I had this in an early version and removed it, and I don't remember why. I totally agree. I also think we should use `select_at_idx` so we can take a noncontinuous array of indices or a single index.

[2022-04-13 21:29] kimjoaoun commented on #161
Can I try this one, @cigrainger?

[2022-04-13 22:34] cigrainger commented on #161
Of course :)

[2022-04-13 23:27] qzg commented on #160
Yeah, ultimately I had to parse the dates into a Polars-friendly format using Elixir and then it imported just fine.  Thank you!

[2022-04-14 05:42] #156 closed

[2022-04-14 23:04] halian-vilela commented on #158
Hey folks, some update here.

I've menaged to treat `Series.equal/2` length issue and add some behaviours for nicer error messages. But looking at all the other comparison functions, I realized that all of them will also need similar modifications to deal with error.

As this seems to be a major modification of all them, I'd like to send a PR first so that you guys could review and give some feedb

[2022-04-19 19:20] alantliang opened #164 "Is there a way to write parquet to s3?"
Hi, I want to write a DataFrame directly to s3. How do I convert DF to parquet without writing to file? Thanks!

[2022-04-19 20:00] philss commented on #164
Hi @alantliang :wave:

Right now we don't have a feature for that. But we are considering supporting it. See https://github.com/elixir-nx/explorer/issues/126

If you want to try implementing this, PRs are welcome :)

[2022-04-19 21:39] cigrainger commented on #164
Definitely a good idea. Closing as a duplicate of #126.

[2022-04-19 21:39] #164 closed

[2022-04-20 13:07] #160 closed

[2022-04-20 13:27] qzg opened #165 "Best way to iterate over a data frame?"
Hello-
I've imported 14M rows, filtered and arranged them.  Now I'd like to extract that result for further manipulation outside the scope of what Explorer does.  What's the best way to do this?  I need the output to be more "tabular".

I wrote something simple (below) to turn a data frame into a stream of maps, one "row" at a time, but it is surprisingly slow.  My next attempt to improve performa

[2022-04-20 13:38] jonatanklosko commented on #165
Hey @qzg! We will soon have a [table](https://github.com/dashbitco/table) package that will support this use case. This package has a protocol for reading a data structure as a table, which we will implement for DataFrame. With that we will be able to do `Table.to_rows(df)` to get a stream of maps (or `Table.to_columns(df)`  for traversing individual series) :)

[2022-04-20 13:41] qzg commented on #165
Thank you!  So...  _how soon_...?  :-)

[2022-04-20 13:44] jonatanklosko commented on #165
For a technical reason we need to wait before publishing the package, but hopefully in a week or two. I have a PR for Explorer integration ready, will submit as soon as we publish the package :)

[2022-04-20 13:45] #165 closed

[2022-04-22 18:27] josevalim opened #167 "Create a shared vocabulary for data conversions"
We need to define a vocabulary for converting dataframes in and out of different formats, using different representations. For example, if we take CSV as an example, we may need to:

1. read CSV from file
2. read CSV from a binary (i.e. from memory/buffer)
3. write dataframe as a CSV file
4. convert dataframe to a CSV binary (i.e. to memory/buffer)

We need to provide a similar API for different f

[2022-04-22 18:29] josevalim commented on #167
We may also need other functionality in the future, such as `to_csv_stream`, which streams the CSV instead of writing a huge blob. Or even have `to_csv_iodata`, in case we don't want to build a large binary upfront.

[2022-04-24 20:18] kimjoaoun commented on #167
I confess I'm not comfortable with using just "to_csv" as it might be a source of confusion for people that are used to working with data in another languages. (See [Pandas.DataFrame.to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)).
I think preferable to use something like `deparse_csv` or even that `to_csv_binary` name.

[2022-04-24 23:58] cigrainger commented on #167
We actually support Parquet already as well. I'll take a bit of time today to research this. My only real concern is that the use cases for each of the formats may differ considerably.

For example, delimited files make sense as a binary representation. IPC has baggage to consider on that front ([in memory it should be a streaming file format](https://arrow.apache.org/docs/format/Columnar.html#ipc

[2022-04-24 23:59] cigrainger commented on #167
Sorry didn't mean to close -- fat fingers. :)

[2022-04-25 06:21] josevalim commented on #167
The issue is that we may want to read an IPC file from S3 or URL. In this case, our only option is to either read into memory and then pass to Explorer. Otherwise we would need to add all of this functionality directly to explorer.

At the same time, we most likely want to avoid reading the whole binary into memory first? I don't know... maybe it depends on the format. Some of the IPC examples I s

[2022-04-25 22:52] #161 closed

[2022-04-25 23:43] cigrainger commented on #167
I'm comfortable with that. I like load/dump personally. I think because postgresql. Also json in python uses that.

[2022-04-26 02:21] cigrainger opened #169 "Complement `from_rows` and `from_columns` with `to_rows` and `to_columns`"
I think instead of `to_map` we should have `to_rows` (which would yield a list of maps) and `to_columns` which would yield a map of lists. That way the functions have symmetry.

[2022-04-27 10:56] LostKobrakai opened #175 "Option to manually supply types to `from_rows`"
I'm currently using explorer to convert a database table to parquet files, but sometimes batches only hold null values for a column, so type inference fails: `Could not infer row types, because of the null values`

[2022-04-27 12:32] josevalim opened #177 "Make Nx an optional dependency"
The `keyword!` function is now part of Elixir as `Keyword.validate!`.

For the tensor operations (to_tensor and from_tensor), we can add `@compile {:no_warn_undefined, Nx}`.

[2022-04-27 17:19] josevalim commented on #169
With `table`, I actually want to get rid of `from_rows` and `from_columns` because we want to allow any data to be passed in and we will convert it on the best way possible. In this sense, should we keep it as `to_map` and `to_list` or would you still rename it to `to_rows` and `to_columns`? FWIW, `Table.to_rows` and `Table.to_columns` is also the nomenclature that we use, so we would be consisten

[2022-04-27 17:43] josevalim opened #179 "Rename Series.length to Series.size"
`length` in Elixir is for linear counting operations. But I am almost sure that the size of a series is precomputed, so the correct operation is `size`. :)

[2022-04-27 21:00] cigrainger commented on #177
I've been meaning to go back and use `Keyword.validate!` for aaaages. Thanks for the reminder. I didn't realise we could use optional deps at compile time! That's really cool.

[2022-04-27 22:46] jonatanklosko commented on #169
@josevalim ah, so we still want to mirror both functions under `Explorer.Dataframe`?

[2022-04-27 22:46] cigrainger commented on #169
I'm not sure #178 closes this. I think mirroring makes sense to me.

[2022-04-27 22:48] jonatanklosko commented on #169
Makes sense! It actually has different semantics because `to_columns`/`to_map` returns series, please reopen :D

[2022-04-27 23:45] cigrainger commented on #175
Good idea! I'll look into this. @jonatanklosko is this handled in `table`?

[2022-04-28 00:01] jonatanklosko commented on #175
@cigrainger `table` doesn't track types, it only allows to read the values, either row-by-row or column-by-column. Note that we could always read tabular data as columns with `Table.to_columns` and effectively use `from_columns` with its type inference.

However, the underlying `Table.Reader` protocol works such that, the given data structure describes either by-row or by-columns access, then `Tab

[2022-04-28 00:19] cigrainger commented on #175
Thanks @jonatanklosko!

[2022-04-28 04:06] cigrainger commented on #177
Is this still a good idea if we intend to implement the `Nx.Container` protocol?

[2022-04-28 07:27] josevalim commented on #177
We can wrap the Nx.Container implementation in a `Code.ensure_loaded?(Nx)` block too. :)

[2022-04-28 07:27] josevalim commented on #177
As long as we list it as an optional dependency, if someone adds Nx as a dependency, Mix will figure things out and guarantee the proper compilation order!

[2022-04-28 07:30] #179 closed

[2022-04-28 07:40] LostKobrakai opened #182 "Blob column type"
I've been investigating parquet and explorer in the last few days for a set of data, which includes raw binaries. I can base 64 encode them, but I'd expect that to introduces a bunch of overhead in size. Would it be possible to have a raw binary column type?

[2022-04-28 21:19] cigrainger commented on #182
Now that Explorer is off the ground a bit I'd generally like to add more column types. In theory `polars` supports [opaque binaries](https://docs.rs/polars/latest/polars/datatypes/enum.ArrowDataType.html#variant.Binary) because `arrow` does. I'm not sure what the equivalent `polars` type is. I think [Object](https://docs.rs/polars/latest/polars/datatypes/struct.ObjectType.html). @ritchie46 is that

[2022-04-28 21:24] cigrainger commented on #175
I think we should be able to do this with [`DataFrame::from_rows_and_schema`](https://docs.rs/polars/0.21.0/polars/frame/struct.DataFrame.html#method.from_rows_and_schema). I'll take a look :).

[2022-04-28 22:04] #177 closed

[2022-04-29 06:20] #169 closed

[2022-04-29 08:22] josevalim opened #187 "Normalize options on IO operations"
For example, IPC has columns and projections, but CSV calls it `with_columns`. Options like with_row_count, with_n_rows (max_rows), with_columns, and with_projections are supported by Parquet and IPC too, but not exposed. My suggestion is to add those options to all relevant IO operations and make them consistent.

I also suggest to merge columns+projections into a single option, called `columns`.

[2022-04-29 08:24] josevalim commented on #187
I think @kimjoaoun will pick this one. :)

[2022-04-29 09:09] #167 closed

[2022-04-29 09:42] josevalim opened #189 "Mirror names with Nx API"
There are some Series APIs that are slightly different to Nx:

* `cum_min` and friends are called `cumulative_min` in Nx
* `rolling_min` and friends are called `window_min` in Nx

Should we aim to unify those? I am open to changing Nx if desired too or staying different. :)

[2022-04-29 09:44] josevalim opened #190 "Provide complete range of IO operations"
Each IO operation must have 8 functions: `dump`, `load`, `from` and `to` as well as the `!` version of them. This is an issue to add the missing APIs. We can break it apart per IO type:

  * [ ] CSV
  * [ ] Parquet
  * [ ] Arrow
  * [ ] Streaming Arrow
  * [ ] NDJSON

Although I recommend tackling #187 before this one!

[2022-04-29 09:45] josevalim opened #191 "Add DataFrame.new that uses Table.Reader"
/cc @jonatanklosko

[2022-04-29 10:25] josevalim commented on #190
We should probably normalize the Rust APIs well.

[2022-04-30 01:04] jonatanklosko commented on #165
FTR as of #185 there is `DataFrame.to_rows` and `DataFrame.to_columns` that you can use directly!

[2022-04-30 06:26] josevalim commented on #54
Closing as lazy is a separate backend, not default.

[2022-04-30 06:26] #54 closed

[2022-04-30 06:29] josevalim commented on #91
We will support parsing from memory. See #186.

[2022-04-30 06:29] #91 closed

[2022-04-30 16:17] jurraca commented on #36
Hey, not too familiar with the inspect algebra, but are you looking for improvements to [inspect.ex](https://github.com/elixir-nx/explorer/blob/main/lib/explorer/inspect.ex) ? Seems like it's already using `Inspect.Algebra` functions.
I'd love to look into this if it's still needed @cigrainger

[2022-04-30 17:09] josevalim commented on #36
Yes, this seems to be implemented already. Good find @jurraca!

[2022-04-30 17:09] #36 closed

[2022-05-01 09:15] josevalim commented on #189
The APIs are similar but they accept different options. There is no reverse in `cummulative_min` in Nx. I assume this option exists in Polars for efficiency purposes? In any case, we could add one to Nx no problem. In `window_min`, the window is a shape because it can be multidimensional, which in a Series it is just a number. It is a minor and understandable difference. I will leave it up to you

[2022-05-01 09:47] josevalim opened #194 "Move backend functions to Explorer.Backend"
* [ ] `Explorer.default_backend()` -> `Explorer.Backend.get()`
* [ ] `Explorer.default_backend(backend)` -> `Explorer.Backend.put(backend)`

Or does anyone prefer another API?

[2022-05-02 00:46] cigrainger opened #195 "Add lazy backend"
- [x] Add `Explorer.PolarsBackend.LazyDataFrame` backed by `ExLazyFrame`
- [x] Add `lazy/0` (returns the lazy version of the current backend - noop if already lazy)
- [x] Add `to_lazy/1` (returns the lazy version of the current dataframe - noop if already lazy)
- [x] Add `collect/1` (returns an eager version of the current dataframe - noop if already eager)
- [x] Raise for unsupported functions
-

[2022-05-02 07:18] josevalim commented on #195
I don't think we should have a new backend specification. It is the same backend specification which will raise if the function is not supported for lazy backends. So our initial implementation can actually do the same trick as we do in the template backend in Nx, and raise for most functions:

https://github.com/elixir-nx/nx/blob/main/nx/lib/nx/template_backend.ex#L18-L29

We should also add thre

[2022-05-02 07:26] cigrainger commented on #195
Ahhhh that makes sense. I knew I was missing something. Got it now. 👍

[2022-05-02 08:36] cigrainger opened #197 "Reintroduce SIMD now that we're precompiling?"
I removed [simd support](https://docs.rs/polars/latest/polars/index.html#simd) so folks could use stable instead of nightly Rust. Should we reintroduce it now that we're precompiling the binary?

[2022-05-02 08:39] josevalim commented on #197
:+1:

[2022-05-02 09:38] #197 closed

[2022-05-02 10:00] cigrainger commented on #189
Honestly I can't think of a reason to have `reverse` as an option at all other than that it's possible :). Fairly straightforward either way.

[2022-05-02 10:01] #194 closed

[2022-05-02 10:54] josevalim commented on #189
@cigrainger given all operations on series are eager, i assume it is for performance then!

[2022-05-02 11:57] #189 closed

[2022-05-03 06:36] cigrainger commented on #195
This is nearly done but I'm running into some trouble with `Inspect`. It needs to be different for lazy and eager. I can handle that by handing off to different inspect functions in `defimpl Inspect, for: Explorer.DataFrame` with:

[code]

Is that reasonable?

Then I need to come up with how I want inspect to look. One option is just to keep it the same but to add a `lazy?` flag and not show rows.

[2022-05-04 08:08] #187 closed

[2022-05-04 08:47] josevalim opened #204 "Support negative indexes in fetch_columns_at! and in ranges"
Something like this:

[code]

This means we can do:

    df[-1]

To select the last column.

We should also support something similar in `to_existing_columns` with ranges:

[code]

Then we can do stuff like `0..-1` or `-3..-1` to get the last three columns (tests required!).

[2022-05-04 08:48] josevalim commented on #204
This requires PR #201 to be merged. /cc @philss

[2022-05-04 08:50] josevalim commented on #204
Once we add this API, we can change `drop_nil(df, columns \\ :all)` to be `drop_nil(df, columns \\ 0..-1)`. Remove the special atom `:all` from that API.

[2022-05-04 08:52] josevalim opened #205 "Do not add special meaning to empty lists"
Some APIs make empty lists behave specially. For example, like selecting all columns. @philss tackled many of those in #201 but some still remain:

  * [ ] `distinct` raises on empty list, instead it should return the data frame as is

  * [ ] `rename_with` raises on empty list, instead it should return the data frame as is

  * [ ] `pivot_wider` makes empty lists be all columns, but the default s

[2022-05-04 08:56] josevalim opened #206 "Remove with_ prefix in options and consistenly use `columns` instead of `cols`"
/cc @philss

[2022-05-04 09:30] josevalim opened #207 "Split Shared.to_dataframe into Shared.create_dataframe/update_dataframe"
The long term goal is to make sure that book-keeping of series/dataframe fields are done exclusively in the dataframe API and not split around several backends.

  * [ ] Split Shared.to_dataframe into Shared.create_dataframe/update_dataframe
  * [ ] Split Shared.to_series into Shared.create_series/update_series

[2022-05-04 13:22] kimjoaoun commented on #205
About the `pivot_wider` case: I think we should `raise`. Pivoting is a big operation that completely changes the way the data is being structured, its best to avoid an unintended result.
But yes, sometimes using all columns is something that we might want to do, so I suggest having `:everything` atom as a fast way to pass all columns to pivot_wider.

[2022-05-04 16:17] #204 closed

[2022-05-04 23:45] #191 closed

[2022-05-04 23:45] #175 closed

[2022-05-05 00:16] cigrainger commented on #205
Hmmm... in [`tidyr::pivot_wider()`](https://tidyr.tidyverse.org/reference/pivot_wider.html) a `NULL` for `id_cols` defaults to _everything but `names_from` and `values_from`_ and I think that's the right way to go.

[2022-05-05 00:45] philss commented on #206
Both PRs are merged. I'm closing this. cc/ @josevalim

[2022-05-05 00:45] #206 closed

[2022-05-05 07:02] josevalim commented on #126
This will be closed as part of #190.

[2022-05-05 07:02] #126 closed

[2022-05-05 07:22] LostKobrakai commented on #175
@cigrainger seems like this might have been closed accidentally. I don't see how `DataFrame.new` would allow someone to manually supply types rather than using inference.

[2022-05-05 07:27] josevalim commented on #175
I will open up a new issue so we provide a consistent API for all of these.

[2022-05-05 08:33] josevalim opened #219 "Add dtypes support on DataFrame.new/2"
#218 already introduces an API to validate and normalize dtypes. The idea is to support a similar style of options during `new/2`.

Continues #175.

[2022-05-05 08:46] #207 closed

[2022-05-05 16:18] josevalim commented on #190
All of the dump functions should return the contents that we would have found in the file if we used to_format + File.read. So the idea is to skip the writing to disk, and already have the contents in memory.

[2022-05-05 22:55] mvkvc opened #220 "Incompatible Nx version with Axon"
Hello,

I wanted to use the explorer library with the other new elixir-nx packages, however Mix is saying that the version of Nx is not compatible with EXLA or Axon. Am I making a mistake or is the current state that these cannot be used together in a project?

![image](https://user-images.githubusercontent.com/40243568/167039611-937b3fae-2883-41a2-8ffb-b3307443a01e.png)

Thank you!

[2022-05-05 23:41] jonatanklosko commented on #220
Hey @mvkvc! Next version of Explorer will have `nx` as an optional dependency, so this should no longer be an issue. Meanwhile, you should be able to resolve this conflict by adding `{:nx, "~> 0.2.0", override: true}` to your dependencies :)

[2022-05-05 23:43] #220 closed, assigned to nobody

[2022-05-06 20:33] kimjoaoun commented on #219
Can I get this one?

[2022-05-06 20:34] josevalim commented on #219
Yes pls!

[2022-05-06 23:18] #205 closed

[2022-05-07 01:21] philss commented on #195
I think so. In the future we may need to delegate some of the inspection to the backends (I'm thinking of some specific backends, like a SQL one).

It looks good to me! An alternative could be to show the name of the backend, and don't show the rows. Something like this:

[code]

WDYT?

[2022-05-07 06:28] cigrainger commented on #195
@philss see https://github.com/elixir-nx/explorer/pull/222 🙏

[2022-05-07 15:58] josevalim opened #223 "Across APIs"
@cigrainger and I were discussing ideas to improve the dataframe API. One of the ideas is to bring dplyr's [recent `across`  functionality](https://gist.github.com/josevalim/342728a5b2434569704fe129ff84d228), so we can do:

    |> DF.filter(across(sepal_width < 10))

Or even to filter across multiple columns:

    |> DF.filter(across(col <- [sepal_width, petal_width], col < 10))

However, @cigrain

[2022-05-07 16:01] josevalim opened #224 "Split filter/2 in two functions"
@cigrainger I was wondering if we should break `filter/2` in two functions: `mask(dataframe, series)` and `filter(dataframe, callback)`.

The rationale for doing so is that we don't want to encourage `filter(dataframe, series)`, as that won't be efficient as a lazy query. So I thought we should make `filter/2` to be exclusively function based (and `across` based in the future based on #223) and pr

[2022-05-07 20:51] cigrainger commented on #223
Oh I really like the `_with` suffix idea! I think having the macro version of filter/mutate/summarise means that _eager_ polars can use the lazy API behind the scenes to permit a more flexible API. This is particularly important for summarise, which right now is really polars-specific and lacking functionality. I also think this will be important for a SQL backend to avoid the need to copy from lo

[2022-05-07 21:31] josevalim commented on #223
To clarify, this will always be true for both APIs! We can change `DF.filter(..., fn df -> ... end)` (or `DF.filter_with`) so the dataframe received in the function always yields a "LazySeries". Which is why I think we should split `filter` in two functions (`filter` and `mask` - but you may have better ideas for the second name, see #224).

The same for mutate:

[code]

`df` will emit lazy series

[2022-05-09 00:04] cigrainger commented on #223
I didn't even consider it, but I see your point that we can just convert to lazy before applying the callback on the back end and that will provide lazy series. I also like requiring the second argument as a single callback that returns a keyword list instead of a keyword list of callbacks (or raw values).

The raw value thing is a challenge that you've identified in #224. I think `_with` suffixes

[2022-05-09 06:19] josevalim commented on #223
I agree we should do this asap because this change is orthogonal to `across`. This discussion is mostly about choosing the API, not the functionality, and I think the functionality could have immediate use!

I also agree with our list steps too. Until we have the macro versions, I think we should only have `filter_with` and `arrange_with`. For functions that receive realized series, maybe they sho

[2022-05-09 06:29] josevalim commented on #223
Actually, keep the existing APIs around, introduce the new ones, and then replace the old ones by macros when ready.

[2022-05-14 02:34] kimjoaoun commented on #190
Working on this one.
This issue is my current priority.

[2022-05-14 17:04] kimjoaoun opened #226 "Function that finds the first non-missing element in a vector"
## Introduction

I would be good having in the module `Explorer.Series` a function similar to dplyr's [coalesce](https://dplyr.tidyverse.org/reference/coalesce.html) or postgreSQL's [coalesce](https://www.postgresql.org/docs/current/functions-conditional.html#FUNCTIONS-COALESCE-NVL-IFNULL).
In Pandas there's a function called [DataFrame.combine_first](https://pandas.pydata.org/docs/reference/api/p

[2022-05-16 09:32] cigrainger commented on #226
I think we can use [`Series::zip_with`](https://docs.rs/polars/latest/polars/series/struct.Series.html#method.zip_with). Not what I think of when I think of `zip_with` -- more like vectorised `if_else` in `dplyr`. So given `s1` and `s2` it would be: `s1.zip_with(s1.is_null(), s2)`.

[2022-05-17 03:05] cigrainger opened #227 "Lazy Polars backend functionality"
This issue tracks the implementation for full backend functionality for lazy Polars. The intent is to enable splitting things up more easily.

## IO read

- [x] `from_csv` (#451)
- [x] `load_csv` (#451)
- [x] `from_parquet` (#451)
- [x] `load_parquet` (#451)
- [x] `from_ipc` (#451)
- [x] `load_ipc` (#451)
- [x] `from_ndjson` (#451)
- [x] `load_ndjson` (#451)
- [x] `load_ipc_stream` (b326afd48)

PS

[2022-05-17 03:44] kimjoaoun commented on #226
Hmm, that looks like a fun one, but I'm currently busy doing #190.
What do you think of tagging this as a "Good First Issue"? It doesn't look like a hard one -- and I can be available to help, if needed.

[2022-05-17 04:27] cigrainger opened #228 "hstack/bind_cols functionality"
We have `concat_rows` for vertical stacking/`bind_rows`. We should also have `concat_columns` for
horizontal stacking/[`bind_cols`](https://dplyr.tidyverse.org/reference/bind.html).

This should be pretty straightforward as `polars` has [`DataFrame::hstack`](https://docs.rs/polars/latest/polars/frame/struct.DataFrame.html#method.hstack).

[2022-05-17 06:15] cigrainger opened #230 "Improve `summarise` API"
I'm not a fan of the `agg` approach a la `pandas` and much prefer [`dplyr`'s `summarise`](https://dplyr.tidyverse.org/reference/summarise.html). Lazy polars can get us there, such that the `summarise` API and `mutate` API can be almost identical.

Also probably need to add aliases for `-ise` to `-ize` for American spelling.

[2022-05-17 07:56] josevalim commented on #227
Regarding the IO functions, only half of them need to be implemented, right?

[2022-05-17 09:41] josevalim opened #231 "n_columns and shape return different values for grouped dataframes"

[2022-05-17 10:48] cigrainger commented on #231
`n_columns` shouldn't return a different value. That's a bug. `shape` might, but probably shouldn't. In fact... this is definitely a bug. But we should figure out a way to do something similar to `dplyr::n()`, which permits per-group row counts. This is a really common use case (so much you can use `dplyr::count()` which is super useful).

[2022-05-18 09:30] josevalim opened #233 "Change series inspect implementation"
Series also have backends and we need to include them. One option is to mirror dataframe. WDYT?

[code]

Thoughts @cigrainger?

[2022-05-18 20:38] cigrainger commented on #233
Oh I think that's very nice. Mirroring dataframe makes sense to me.

[2022-05-19 04:55] #226 closed

[2022-05-19 09:13] #195 closed

[2022-05-20 04:11] kimjoaoun commented on #228
For some reason I thought we already had this functionality.

[2022-05-20 04:30] cigrainger commented on #228
We had it in rust but not exposed, and removed it from Rust when cleaning out unused functions.

[2022-06-02 04:42] roger120981 commented on #93
@philss @cigrainger After much research and cooperation from community members, steps are beginning to be taken to resolve this issue. Initially I opened this discussion, https://github.com/pola-rs/polars/issues/1830 , but finally Kyle Barron shed light on how to incorporate geospatial analysis into polars, here is a new library that promises if we support it and that we can integrate it into expl

[2022-06-08 18:17] josevalim opened #241 "Align pivot_longer with dplyr"
In dplyr, the `cols` argument to `pivot_longer` is actually the columns we would like to pivot. I find that API a bit more intuitive. Should we change our implementation to align with theirs? :)

[2022-06-12 22:25] srowley opened #242 "`Series.min/1` fails on series pulled from data frame created by `DataFrame.from_rows/2`"
With `explorer` version 0.1.1.

I don't know why the `polars` backend thinks I sent it a 32-bit integer via my list of maps; when I create a series from a list of integers there is no issue.

[code]

[2022-06-13 17:54] philss commented on #242
This behavior is fixed on `main`. Can you try with the version from GitHub?
You will need to setup the [Rust toolchain](https://www.rust-lang.org/tools/install), using the `nightly` version.

[2022-06-13 18:37] srowley commented on #242
Thanks - I tried to check that originally but was struggling to get it to compile. I'll give it another shot and report back.

[2022-06-13 23:56] srowley commented on #242
Confirmed this is fixed on `main` (with `DataFrame.new/2`). And in light of that whole process, let me take this opportunity to thank you for `rustler_precompiled`!

[2022-06-13 23:56] #242 closed

[2022-06-14 15:26] josevalim commented on #227
All functions not listed here should raise when invoked saying the lazy operation is not allowed.

[2022-06-14 16:05] josevalim commented on #223
For completeness, the operations that will be affected by this are: mutate, summarize, filter, arrange, distinct.

---

Although `arrange`/`distinct` introduce one particular issue. We have added the `_with` prefix to disambiguate the macro-api from the non-macro API. This was easy because the non-macro API for `mutate`/`summarize`/`filter` are function based. However, `arrange`/`distinct` already

[2022-06-16 09:21] dkuku opened #243 "Accept `limit:` keyword on DataFrame.table instead of num_rows integer"
Currently by default explorer displays 5 lines and when I wan't to display the whole data frame I need to know the shape.
`Explorer.DataFrame.table(iris_df, 150)`
I think it would be better to accept `limit` keyword similar to `IO.inspect` does - by default it shows just part of the data - same as explorer and if you wan't more you can pass `limit: :infinity` or `limit: 150`.
I can make a pr

[2022-06-16 10:42] josevalim commented on #243
Sounds good to me, I think moving to a keyword will be "safer" long term if we want to add more options. Can you please try a PR for us to see how it looks like?

[2022-06-16 10:43] dkuku commented on #243
sure-will do that

[2022-06-16 21:30] cigrainger commented on #243
Closed by #244 ❤️

[2022-06-16 21:30] #243 closed

[2022-06-17 07:53] josevalim opened #245 "Revisit operations when grouped"
Ideally we will have a separate test file for testing how each of them works when grouped, removing all of .group calls from data_frame_test.exs.

### Group handling

* [x] group_by
* [x] ungroup
* [x] summarize

### Behaves different under group:

* [x] arrange (in dplyr the group behaviour is opt-in)
* [x] arrange_with
* [x] collect (document that collecting a grouped data frame should return a

[2022-06-17 07:56] josevalim commented on #231
Closing in favor of #245.

[2022-06-17 07:56] #231 closed

[2022-06-20 04:58] joshuataylor opened #246 "Publish explorer to crates.io"
Hi

I've built an extension for explorer that transforms the Snowflake streaming arrow files to Explorer.

The problem with SF is that it requires a little bit of data manipulation to convert to timestamps and other funness, so a library is required for this.

I want to include explorer in my project, so I can use the datatypes.

[2022-06-20 05:41] cigrainger commented on #246
I don't see any problem with this. Let me see what I can do. :) Ideally releases should be synced and we're not far off 0.2.0 so I may wait for that, but I suppose I can publish a prerelease.

[2022-06-20 05:47] cigrainger commented on #246
Also super cool you've built an extension for Explorer! I'm excited to check it out. :)

[2022-06-20 05:51] josevalim commented on #246
Hi @joshuataylor!

My concern with pushing Explorer to Cargo is that we will load the binary code multiple times.

Can you share the extensions? Maybe they belong to Explorer? Or alternatively we can find out a mechanism to include them dynamically? Or are they compile time dependencies?

[2022-06-20 06:00] cigrainger commented on #246
Also @joshuataylor you can always use a git dependency!

[2022-06-20 06:09] joshuataylor commented on #246
Sure, so a few problems:

1/ Including via git is great, but I can't do that with a cdylib, as "rlib" will need to be added to explorers' `Cargo.toml`. We /could/ split the types if this is going to be a problem.

2/ You can see the code here:
https://github.com/joshuataylor/explorer_snowflake/blob/main/native/explorer_snowflake/src/lib.rs

And here:

https://github.com/joshuataylor/explorer_snowf

[2022-06-20 06:21] josevalim commented on #246
@joshuataylor am I correct to say that the functionality that we are missing is the handling of `ArrowDataType::Struct(_f)`?

If so, I wonder if any of those two options are possible:

1. Have a way to register custom parsers in Explorer at runtime. So you would call something like `Explorer.PolarsBackend.register_logical_type("TIMESTAMP_NTZ", Snowflake.Explorer.timestamp_ntz_address())`. The call

[2022-06-20 06:29] joshuataylor commented on #246
I like your idea, but we'll need to test it with different datasizes to see how it performs. Snowflake sends back chunks that are around 100kb to 50mb when uncompressed. I found that doing 100-200k conversions for Timestamps was slow to process, especially if you return the struct type between Rustler and Elixir.

And the way they do floats sometimes: https://github.com/joshuataylor/explorer_snowf

[2022-06-20 19:14] philss commented on #241
For what I could understand, the current API treats the columns argument as "columns to keep". This seems to be something that is not accept by [`dplyr's` API](https://tidyr.tidyverse.org/reference/pivot_longer.html). Do you think we can add an option to keep supporting this feature, or should we drop it?

If so, maybe `columns_to_keep`?

The API would look like `pivot_longer(df, columns_to_pivot,

[2022-06-20 19:31] philss commented on #241
I'm going to assume we are going to keep it. It's easier to remove if we decide otherwise :)
I will send a PR later today.

[2022-06-20 19:31] josevalim commented on #241
Sounds good to me. I would simply call it `:keep` though. Both `columns_to_pivot` and `keep` accept a function too.

[2022-06-20 21:39] cigrainger commented on #241
@josevalim now I'm a bit confused. The current API for `Explorer.DataFrame.pivot_longer/3` matches the tidyr API. That is: the second arg is the 'columns to pivot'. `values_from` is _additional_ to the tidyr API and is a convenience function to select (because we don't have tidy select).

[2022-06-21 01:03] joshuataylor opened #249 "Mutable dataframes"
When working with polars, it's sometimes handy to have mutable dataframes.

This is because you want to change the dataframe without creating a new one, or doing lots of operations, which can save memory, CPU & time.

For example, if I wanted to read many Arrow files into one dataframe, I could do something like this with polars:

1/ Create a dataframe as mutable:
[code]

2/ Use [vstack_mut](https

[2022-06-21 02:20] cigrainger commented on #249
Good point! I think we could split the difference and:
1. Pass a list of dataframes for stacking
2. Clone the first
3. Use `fold()` with `vstack_mut()`.

[2022-06-21 03:42] joshuataylor commented on #249
Oh yeah, that would be great, if we could do that internally it'll speed things up massively.

[2022-06-21 05:34] josevalim commented on #249
Coincidentally I was talking about this to @philss yesterday, for us to move some of the operations to Rustler to generate less garbage. I didn’t realize we could make them mutable too. /cc @philss

[2022-06-21 06:49] joshuataylor commented on #249
I've found that translating data back from Rustler is very expensive in terms of memory/GC, so I've tried to do as much as I can on the Rust side before moving back to Elixir. I've been testing on wide datasets (300 columns, 500k rows) and will keep ramping up the testing as I figure out how to tame the GC, as once the data is actually IN Erlang/Elixir it's fine.

[2022-06-21 06:58] josevalim commented on #249
@joshuataylor which particular part is expensive? I would imagine that we keep references to the underlying arrow binary most times, unless you do Series.to_list or DataFrame.to_columns or similar. Or do you mean on immutable operations like above?

---

Also note we are working on lazy backends. The idea is that you can do:

    dataframe
    |> DF.to_lazy()
    |> ...
    |> DF.collect()

And al

[2022-06-21 07:09] joshuataylor commented on #249
Yeah, the `DataFrame.to_columns` part.

Awesome about the lazy backends, that would be amazing as we could build all the parts of the dataframe we need, then collect it. Polars is incredibly powerful that way.

[2022-06-21 07:09] josevalim opened #251 "Optimize invocation of Polars NIFs"
The following operations have a Enum.reduce which we should move to Rust instead:

* [x] concat_rows (df_vstack)
* [x] mutate (df_with_column)
* [x] arrange (df_sort)

The following operations perform multiple steps which could be one in Rust:

* [x] indexes_by_groups (dataframe + pull)
* [x] dummies (select + dummies)
* [x] summarise (summarize + arrange)

The goal is to generate less intermediat

[2022-06-21 07:11] josevalim commented on #249
@joshuataylor for Snowflake (and req_snowflake in particular), I would return the data in Explorer. The user can request it to become Elixir data on their own if/when they need it.

I have also opened #251 to tackle the mutable stuff. We can close this perhaps?

[2022-06-21 07:52] #249 closed

[2022-06-21 08:03] joshuataylor commented on #249
That makes sense wrt Snowflake :).

[2022-06-21 09:34] joshuataylor commented on #246
So we'll need to create another crate, as

1/ Using `cdylib` is great for NIFs, but bad if you want to rely on it, as it strips all Rust related information.
2/ Changing to dylib throws an error that `rustler::init` is already defined in explorer.

[2022-06-21 09:43] josevalim commented on #246
@joshuataylor would the Elixir approach I mentioned above not be enough? We find a way of transferring the underlying array buffer between runtimes, using zero copy, through Elixir.

This is what we are exploring for Nx too. For example, a library like StbImage can allocate an image in memory, but another completely independent library may want to use it without copying, so we share it.

[2022-06-21 09:51] joshuataylor commented on #246
I'd be happy with that.

I'll leave `explorer_snowflake` for now, and return to it once we have this. We could even use it as the initial test integration?

I'll make snowflake_arrow rely directly on Polars, once this in I'll change it over to explorer.

[2022-06-21 09:56] josevalim commented on #246
@joshuataylor could you join the Erlang Ecosystem Foundation Slack? You can create an account for free and then click the sidebar link: https://erlef.org/wg/machine-learning

Or shoot me an email. I think jumping into a call will be quicker. :)

[2022-06-21 09:56] josevalim commented on #246
Oh, before I forget, I don't think you need to migrate snowflake_arrow to Polars either. The idea is to share arrow buffers so just arrow is fine.

[2022-06-22 01:18] #241 closed

[2022-06-22 06:31] #251 closed

[2022-06-22 09:58] josevalim commented on #230
Closing this in favor of #223. :)

[2022-06-22 09:58] #230 closed

[2022-06-22 21:26] cigrainger opened #261 "Add categorical/factors dtype"
Pandas: https://pandas.pydata.org/docs/user_guide/categorical.html
R: https://r4ds.had.co.nz/factors.html
Polars: https://docs.rs/polars/0.21.1/polars/docs/performance/index.html#categorical-type

[2022-06-22 23:02] cigrainger commented on #261
@jsonbecker Do you have thoughts on ergonomics/ease of use with factors? What can we do to make them easy to work with and intuitive beyond copying R?

[2022-06-23 01:37] #228 closed

[2022-06-23 03:42] joshuataylor opened #264 "Add `df_read_binary_*` to read a Binary"
So there are these functions for reading files of various types:
[code]
This is just for files. We should be able to pass a [Rustler binary](https://docs.rs/rustler/latest/rustler/types/binary/index.html), so you could pass a binary straight from Elixir. We **could** rename to df_read_parquet_file, but this would break backwards compatibility.

My proposal is to add `df_read_*_binary` functions to

[2022-06-23 03:51] joshuataylor opened #265 "Add df_read_ipc_stream"
For context about Arrow Streams, please read https://jorgecarleitao.github.io/arrow2/io/ipc_stream_read.html .
Here is a quick primer about the streaming files from Arrow: https://arrow.apache.org/docs/python/ipc.html

We want to be able to read Arrow Streaming files, so adding this would be worth while. However, we're blocked until Polars adds support, [which I've created an issue for](https://gi

[2022-06-23 03:57] josevalim commented on #264
Check #190. :)

[2022-06-23 03:58] #264 closed

[2022-06-24 07:44] josevalim opened #271 "Add collect_rows/collect_columns operations"
We need to provide a mechanism for reading data stored across multiple files. Currently, we can support this by reading N files and then performing a `concat_rows`, but that means at a certain moment we will have twice the size of the dataset in memory, which may be too large.

I propose we add `collect_rows` as a function which returns an Elixir [Collectable](https://hexdocs.pm/elixir/Collectable

[2022-06-24 08:22] josevalim commented on #271
Another worthy mention is that we can likely reduce copying altogether if Polars has an API for reading CSV/Parquet/IPC/etc into an existing dataframe but I don't think such functionality exists. Does it?

[2022-06-24 09:01] cigrainger commented on #271
@josevalim I don't think polars has anything directly for that but there are lazy readers and you could use a lazy reader and a lazy vstack to achieve the same. Either way I love this idea.

[2022-06-24 09:15] cigrainger commented on #271
Re: the open questions:

1. I think an empty DF as I don't see much value in raising there. But I could see it being annoying. I think it's a minor footgun potentially but not a terrible one.
2. I do have to say my immediate thought was that this would be about converting to Elixir data, e.g. replacing to_rows and to_columns. I almost want to call it accumulate or something like that. But also....

[2022-06-24 09:25] joshuataylor commented on #271
1. I really like this (as mentioned above)
2. Lazy frames has the option to scan a directory, eager is one at a time, then use vstack or vstack_mut to put the new df on the old one or vica verca. Not sure what the memory usage would be like not doing it in a single `vstack_mut`, but it's significantly faster appending a single mutable dataframe.
2a. It might be worthwhile having a look at the Pyth

[2022-06-24 09:37] cigrainger commented on #271
Ah of course -- I was getting confused with reading into an existing frame. Yes we could absolutely use the lazy reader for the entire directory. And we could return an eager frame from the backend anyway.

[2022-06-24 10:11] josevalim commented on #271
@cigrainger With your lazy insight, doesn't it mean we actually don't need this functionality? I could just do this:

[code]

Do you mean we need to change the Elixir API or the underlying Rust code?

[2022-06-24 10:21] cigrainger commented on #271
Precisely we can do the above @josevalim!

And with a directory of local files we could add the ability to use a directory. In eager we can just use the lazy reader on the directory then collect before returning.

[2022-06-24 10:23] joshuataylor commented on #271
Yeah, could we detect the glob on `df_read_csv`? Or maybe just make that a lazy feature?

[2022-06-24 10:51] josevalim commented on #271
@joshuataylor maybe instead of passing a glob, should we allow it to receive a list of directories? This way you can expand and filter files on Elixir land and pass the list downstream. Whatever Polars is doing for globs, it most likely can do the same for a list of directories.

[2022-06-24 13:32] jsonbecker commented on #261
I have controversial opinions about factors. In my mind, there are two reasons to use factors:

1. Data validation
2. Other functions/packages further down the chain can be smart about discrete values with orders reducing code I have to write later.

I think reason (1) is dumb. Assertive programming of various types are better for explicit validation. On (2), I'm not sure how much the broader Nx e

[2022-06-24 22:19] cigrainger opened #273 "Support filtering on a list of values"
See: https://elixirforum.com/t/explorer-subsetting-rows-by-columns-that-match-one-of-multiple-values/48564?u=cigrainger

This is a very common use case so we should prioritise it.

[2022-06-29 15:36] josevalim commented on #271
So I think we can close this. The only question is if we need to support reading multiple files at once OR if reading multiple files is the same as doing multiple lazy reads and concatting them lazily at the end.

[2022-06-29 23:45] cigrainger commented on #271
I think in practice it's the same for polars (fairly certain that's what happening, see Ipc implementation [here](https://docs.rs/polars-lazy/0.22.7/src/polars_lazy/frame/ipc.rs.html#54)), but perhaps we should support reading multiple files in the high level API because other backends may have their own way of doing it?

[2022-06-30 05:30] #271 closed

[2022-06-30 05:31] josevalim opened #278 "Allow reading multiple files at once in IO operations"
See #271.

Perhaps we may want to allow loading multiple binaries at once too.

[2022-07-03 04:07] joshuataylor opened #279 "Encoding is inefficient for series"
In the macro [encode](https://github.com/elixir-nx/explorer/blob/main/native/explorer/src/datatypes.rs#L217) and encode_list, what happens is this:

[code]
It's called using `encode!(s, env, bool)`

So what happens here is:
1. Use .bool() (a Polars helper function) to get a `BooleanChunked`
2. Unwrap the result, then convert to iter
3. Collect into a vector of booleans, which can be None (for nil)

[2022-07-03 04:13] joshuataylor opened #280 "Encoding structs such as DateTime/Date is slow for many structs"
In [encode_datetime_series](https://github.com/elixir-nx/explorer/blob/main/native/explorer/src/datatypes.rs#L1990, the struct type is built then returned to Rustler to encode.

I've found instead building the map myself, then adding the struct key is up to 4x faster and uses much less memory. This is because it doesn't have to be sent into Rustler to encode the structs when you have hundreds of t

[2022-07-03 04:21] joshuataylor opened #281 "Encoding strings using enif_make_sub_binary"
When returning a large amount of strings, this can be very slow. See the discussion here https://github.com/rusterlium/rustler/discussions/463.

There was a great idea there to use the offsets and values to create subbinaries. Doing this has dramatically decreased the time it takes to return binaries back to Elixir for Utf8.

Here is what I do:
[code]

[code]

I'd be happy to create a PR for this.

[2022-07-03 06:54] josevalim commented on #281
I don't know how Rustler works, but if we were writing C code, we should be using [`enif_make_resource_binary`](https://www.erlang.org/doc/man/erl_nif.html#enif_make_resource_binary). The idea is that we would create a resource in Rust (I assume Arrow already keeps the strings as binary blobs, so that would be our resource) and then directly reference parts of said blobs.

The potential issue with

[2022-07-03 07:03] josevalim commented on #279
A PR is definitely welcome!

[2022-07-03 07:04] josevalim commented on #280
PR definitely welcome for this one!

[2022-07-03 07:53] joshuataylor commented on #281
Just to clarify this is all using Rust. You basically create a binary, then use [make_subbinary](https://github.com/rusterlium/rustler/blob/master/rustler/src/types/binary.rs#L339)

[2022-07-03 07:57] josevalim commented on #281
Yes, I understand. My point is that, instead of creating a large binary and slicing it, you should slice the original Arrow binary/resource, without creating a new large binary. I just don't how to do it in Rust. :) Does that make sense?

[2022-07-03 08:30] joshuataylor commented on #281
Yep, it does. I don't know how to do that either, I'll see if it's "free" to get out of arrow2 and do this conversion. I think it is.

[2022-07-03 20:53] cigrainger commented on #281
https://github.com/rusterlium/rustler/issues/452 I raised this issue to expose it from the C code wrapper but haven't had a response and don't feel 100% confident on the approach. WDYT?

[2022-07-04 12:04] joshuataylor opened #283 "Datetimes with 7 digits in the microseconds don't work"
With certain dates, the [timestamp_subsec_micros](https://github.com/elixir-nx/explorer/blob/main/native/explorer/src/datatypes.rs#L212) function can return over 6 digits, due to leap seconds. See the docs [here}(https://docs.rs/chrono/latest/chrono/naive/struct.NaiveDateTime.html#method.timestamp_subsec_micros)

[code]

Run this file:
[datetime_100k.ipc.zip](https://github.com/elixir-nx/explorer/

[2022-07-04 12:12] joshuataylor opened #284 "Proposal: Integration testing for CSV, IPC, NDJSON, Parquet"
I think it would be worthwhile adding tests for CSV, IPC, NDJSON and Parquet, with all having the same data.

On the other hand, [Apache supplies Arrow testing files](https://github.com/apache/arrow-testing) and [Parquet files](https://github.com/apache/parquet-testing) which Arrow2 tests against (Arrow2 is used by polars). We could add these as submodules.

[We could also just borrow the tests fr

[2022-07-04 12:28] josevalim commented on #284
Definitely! :+1:

[2022-07-04 18:29] cigrainger commented on #284
For sure! Good idea.

[2022-07-04 23:41] srowley opened #287 "Series.min/1 throws error on integer series"
Seems similar to #242.

Erlang/OTP 25 [erts-13.0.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit:ns]
Elixir 1.13.4 (compiled with Erlang/OTP 25)
Explorer 0.2.0

[code]

Expected output: a number

Actual output:
[code]

[2022-07-05 01:28] philss commented on #287
The problem is that some operations return `Series` that are from types we don't handle. In this example the series returned by the summarised DF is from the type `UInt32`, but we only handle `Int64` for integers.  See:
https://github.com/elixir-nx/explorer/blob/607e612d449bc9b2f8adfd93ea60027374256dc3/native/explorer/src/series.rs#L480-L487

We need to cast the resultant aggregations or [handle m

[2022-07-05 06:52] josevalim commented on #287
We have two options:

1. Support more types internally.
2. Support more types and also expose them to users. This means our types are `:u8`, `:u16`, `:s64`, `:f32`, `:f64`, and so on.

Which route are we supposed to take?

[2022-07-05 14:59] philss commented on #287
I would go first with `1.` and then we decide if we want to expose more types.

[2022-07-05 21:11] #280 closed

[2022-07-06 09:18] #283 closed

[2022-07-06 09:43] josevalim commented on #246
Closing this, as we want to explore those extensions as built-ins to Explorer. :)

[2022-07-06 09:43] #246 closed

[2022-07-06 10:07] josevalim opened #289 "Introduce `_with` APIs"
The goal is to introduce `filter_with`, `summarize_with`, `mutate_with`, and `arrange_with`.

## Attack plan

  * [x] Support `filter_with` with row-based series operations
  * [x] Support `summarize_with` with aggregation-based series operations
  * [x] Support `mutate_with` with row, group, and aggregation-based series operations
  * [x] Support `arrange_with`
  * [x] Decide on #224

This will u

[2022-07-07 05:30] cigrainger commented on #224
Sorry I meant to say ages ago that I agree with this. Mask is perfect.

[2022-07-07 05:58] josevalim commented on #224
@cigrainger so last time we talked we were not sure if we should allow the mask in `filter_with` (instead of `filter`) or introduce the `mask` function. Between those options, any preference?

The mask in `filter_with` doesn't have the ambiguity this issue first comments on... so it may be theoretically fine, although some adapters like SQL cannot implement the mask version anyway.

[2022-07-07 08:17] cigrainger commented on #224
I think a separate mask function makes more sense to me. It seems cleaner. But I don't hold a strong opinion on this one. How much do we think folks should use filter_with directly?

[2022-07-07 08:28] josevalim commented on #224
Once we land the macro version of `filter/2`, there is little to no reason to use `filter_with/2`? So yeah, it makes sense to have `mask/2` then!

[2022-07-07 10:39] cigrainger commented on #224
Agreed! Let's do it.

[2022-07-07 21:54] sweco-semtne opened #291 "[Question] Compression settings support for write_parquet"
Hi!
Thanks for a fantastic library.
I'm wondering if the parquet write method supports compression settings?
If the underlying polars library support it that is.

It seems the python wrapper has an api for it?

DataFrame.write_parquet(file: str | Path | BytesIO, *, compression: None | Literal['uncompressed', 'snappy', 'gzip', 'lzo', 'brotli', 'lz4', 'zstd'] | str = 'lz4', compression_level: int |

[2022-07-07 22:01] josevalim commented on #291
We most likely just need an option to support it. In that case, a PR is welcome!

[2022-07-08 00:17] cigrainger commented on #291
Yep! [Polars supports it](https://docs.rs/polars/latest/polars/prelude/struct.ParquetWriter.html#method.with_compression). A PR is very welcome :).

[2022-07-08 06:14] #287 closed

[2022-07-08 09:31] #291 closed

[2022-07-21 07:21] josevalim commented on #289
I think the arithmetic row-based operations are pending: add, subtract, pow (rename to power for Nx compatibility?), and so on.

I also propose to rename `nil?` and `not_nil?` to `is_nil` and `is_not_nil` because they don't return booleans themselves, but rather change the column. `is_nil` makes them look like guards but we thought it is less confusing in Nx and went this route.

I think we can al

[2022-07-21 09:08] cigrainger opened #296 "Add list dtype"
This is supported in polars and can permit some useful stuff like explode.

[2022-07-21 21:49] tomekowal opened #297 "Combining string columns"
Hi! Thanks for the great library!

Is there a way to combine two string columns e.g. by concatenating them?
My use case is this.

[code]

I'd like to combine House number and flat number to one column to make a chart in liveview. E.g. instead of `House number: "15a", Flat number: "1"`, I'd like to have `Address: "15a1"`.

I believe `DataFrame.mutate` should help here. One of the examples in the do

[2022-07-21 22:50] philss commented on #297
Hi @tomekowal :wave:

I think there no easy way to do this today without traversing the series. Even so, I think this is not an expensive task.
Here is how I would do:

[code]

The result will be something like this:

[code]

There is also a way to traverse only one series using the [`Explorer.Series.transform/2`](https://hexdocs.pm/explorer/Explorer.Series.html#transform/2) function. This won´t w

[2022-07-21 23:56] cigrainger commented on #297
I'd be alright with that but there are some string functions we don't expose from polars, and this is one of them. There are others too like uppercase, lowercase, regex matches, etc. Probably worth me taking a run at exposing some of those. https://docs.rs/polars/latest/polars/prelude/trait.Utf8NameSpaceImpl.html#method.concat

[2022-08-03 14:06] MarceColl commented on #190
Is there any update on this?

[2022-08-03 14:10] kimjoaoun commented on #190
Yes @MarceColl. I'm planning to send the PR that will close this issue later this week.

[2022-08-03 21:10] MarceColl commented on #190
Perfect, thanks @kimjoaoun that's awesome :)

[2022-08-05 18:41] josevalim opened #307 "Rename take/2 to slice/2 and also add slice(df, range)"
The range implementation should be a matter of:

    take(df, Enum.slice(0..n_rows(df), range))

[2022-08-05 18:43] josevalim commented on #307
Oh maybe we should support this in `DF.take/2` instead but supporting it in slice is closer to Elixir's Enum.

[2022-08-12 20:05] sacabuche opened #310 "Rename after pivot_wider and sumarise swap names from column"
After upgrading from 0.1.2 in 0.2.0 I started to get the columns swapped when we rename the columns after a pivot wider and a summarise, I tried to reduce it to only use `summarise` or only `pivot_wider` and this is not happening, it needs to be used together in order to fail.

I think this is the minimal test to reproduce this bug

[code]

This is the result from the test
[code]

I tried to follo

[2022-08-12 20:23] josevalim commented on #310
This is fixed in main. :) I get at the end:

[code]

[2022-08-12 21:52] sacabuche commented on #310
@josevalim mine is still falling :(, I compiled using rust nightly 1.65, I tested in a mac A1 and in linux, are you sure that you have pushed all your changes? By the way, than you for your super fast response

[2022-08-12 23:25] philss commented on #310
I could reproduce the problem - btw, thanks for the test case! - and it's a bug.
For what I could understand, in some of the steps we end up with different name ordering between Elixir and Polars. I guess it is in the step of summarizing, but it could be in the pivot step.

In any case I sent a fix => https://github.com/elixir-nx/explorer/pull/311
Now we are using the proper column names to rename

[2022-08-13 08:25] sacabuche commented on #310
@philss thanks pals! you are awesome!

[2022-08-13 09:54] #310 closed

[2022-08-15 13:35] sacabuche opened #312 "Panic on pivot_wider when a non pivoted column contains floats"
While migrating from 0.1.2 to 0.2.0 (on main) `pivot_wider` is panicking when one of the columns has floats

[code]

this is the result

[code]

Thanks!

[2022-08-15 15:38] philss commented on #312
@sacabuche I'm not sure if this is valid - looks like it should be. The problem is that we have an ID column - the `vol` column - that is a float. Polars seems to not accept that.

I'm going to check if there is another way, or if this is a bug. Thanks for the report!

[2022-08-15 15:39] philss commented on #312
Oh, sorry. I already wrote the reason :sweat_smile:

Anyway, I'm checking this.

[2022-08-15 15:40] sacabuche commented on #312
@philss I agree that is a weird case, but I think that it should rise an error at least, instead of panicking, well,may be is a nice to have :P

[2022-08-15 18:24] philss commented on #312
Yeah. I think we should raise if polars is not willing to support this.
This was a topic of discussion in an issue: https://github.com/pola-rs/polars/issues/295#issuecomment-763032349, so I'm not sure if they want to change.

We could also try to cast the float series to a series of list (of bytes). And then cast back to float. But this would be slightly slower I think.
Anyway, tomorrow I'm going

[2022-08-15 21:01] josevalim commented on #312
I actually agree with polars here. I think joins on floats is potentially a very bad idea since:

[code]

I would support raising if trying to join on floats.

[2022-08-16 13:03] sacabuche commented on #312
Definitely floats should not be ids! I was just lucky (or unlucky) that the version 0.1.1 supported to use floats as ids, and somehow poorly imitate `pivot_wider` to support multiple columns as values. Should I open other ticket to ask to support that? similar to [polars](https://pola-rs.github.io/polars/py-polars/html/reference/api/polars.DataFrame.pivot.html#polars-dataframe-pivot) ?

[2022-08-16 19:29] philss commented on #312
You mean, support multiple columns as values?

[2022-08-17 09:59] sacabuche commented on #312
yes, I mean exactly that

[2022-08-19 16:33] #224 closed

[2022-08-19 18:43] #289 closed

[2022-08-19 22:30] #307 closed

[2022-08-20 10:09] philss commented on #312
@sacabuche I think it worth open an issue for discussion. I could see that [dplyr supports it](https://dbplyr.tidyverse.org/reference/pivot_wider.tbl_lazy.html), but I couldn't find examples. So if you can bring examples of how it would look like, would be awesome!

[2022-08-20 10:10] #312 closed

[2022-08-22 23:01] sacabuche opened #321 "pivot_wider to support multiple value columns"
In the current implementation pivot_wider supports a single column as values, but in some cases we want to keep multiple columns of values I see the implementation to accept the values columns as a list and also as a single string.

By getting this DataFrame
[code]

We could do something like this and get the next table
[code]

| bar | one  | two  | three | one  | two  | three |
| --- | ---  | ---

[2022-08-23 05:19] manlon opened #322 "Inspect.Error for Series containing NaN"
While attempting to load a CSV file `text.csv` containing
[code]
at an IEx console, I got an obscure (to me) Inspect.Error:
[code]

The CSV reader apparently parsed `NaN` as a float but was not able to `inspect()` the NaN value.

[code]

Omitting the NaN value eliminates the error:
[code]

[2022-08-23 09:29] josevalim commented on #322
The Erlang VM does not support non finite values directly, so when converting a float series to a list, we will need to encode `NaN`, `Infinity` and `-Infinity` as the atoms `[:nan, :infinity, :neg_infinity]`.

[2022-08-23 09:43] philss commented on #322
Just to add: I think for this to work we would need a custom pair of encoder/decoder for float lists in our native code. Looks like by default Rustler returns a `BadArg` error for f64/f32 that are `NaN` or `Infinity`.

[2022-08-26 08:57] #322 closed

[2022-08-26 19:02] hugobarauna opened #327 "Error in the accompanying Livebook notebook: function Explorer.Series.slice/2 is undefined or private"
The accompanying Livebook notebook contains the following piece of text:

[code]

But there's no `Explorer.Series.slice/2` function. There's only the `Explorer.Series.slice/3` one.

When one runs the notebook, the following error is shown:

[code]

[2022-08-26 19:33] josevalim commented on #327
The notebook is updated to the main branch but it declares Explorer v0.2.0 on top. It is probably best for you to use the notebook from hexdocs.pm instead! Or update Mix.install to use git.

[2022-08-26 19:48] hugobarauna commented on #327
My mistake. I imported the notebook from the main branch but was using Explorer v0.2.0.

[2022-08-26 19:48] #327 closed

[2022-08-29 11:31] isaacsanders commented on #190
Will this read from S3?

[2022-09-02 13:13] joeybellerose opened #331 "Multiplying scalar in mutate_with"
Is it possible to multiply scalars within a `mutate_with`?

Below is a picture of the issue I'm running into using Explorer 0.3.0.

I don't have any problems when not multiplying by 60.

What am I doing wrong here?
![CleanShot 2022-09-02 at 09 11 17](https://user-images.githubusercontent.com/28072958/188153210-a6e8c6bd-62bb-4aef-9bf6-0efdebc31d8c.png)

[2022-09-02 22:17] philss commented on #331
Hi @joeybellerose :wave:

Sorry, this was a mistake: I forgot to add the `multiply` operation :/
Here is a PR fixing that: https://github.com/elixir-nx/explorer/pull/332

Thank you for pointing out :)

[2022-09-02 22:26] #331 closed

[2022-09-03 04:18] joeybellerose commented on #331
Thanks so much for the quick turn!

[2022-09-05 01:41] nallwhy opened #333 "What is the best way to avoid divide by zero with `Explorer.Series.divide/2`"
I asked this question on elixir forum, but I didn't get the answer.
https://elixirforum.com/t/what-is-the-best-way-to-avoid-divide-by-zero-with-explorer-series-divide-2/49986

I have two `Explorer.Series` and want to divide the first series with the second series containing 0.

[code]

Then it throws an error,

[code]

I think `NaN` or `Infinity` is the right result for dividing by zero. But I don

[2022-09-05 11:10] philss commented on #333
I trying to understand how we would archive that. But with the implementation this is not possible. We should at least have a better error message, but I agree that returning `:infinity` would be better - and also follow the https://en.wikipedia.org/wiki/IEEE_754#Exception_handling .

For now I would recommend filtering for the series where is not zero (at the right-hand side) and then apply the d

[2022-09-05 11:52] josevalim commented on #333
@philss in Explorer, division of integers always returns an integer, so we can't return infinity. So the exception is the correct result here. If you cast to floats, then you get infinity:

[code]

So my suggestion is to raise a better exception and ship it :D

[2022-09-05 11:57] philss commented on #333
@josevalim oooh, perfect! I totally missed that. OK than, I'm going to suggest a casting in the error message.
Thanks! :D

[2022-09-05 12:19] philss commented on #333
Actually, after talking, we decided to return a `:float` series in the division, to align the behavior with Elixir. And we should also add two new series functions: `quotient` and `remainder`, to add more flexibility.

[2022-09-08 06:13] petrkozorezov opened #336 ":nif_not_loaded error when calling mutate_with with multiply"
I am trying to migrate existing code to explorer 0.3 and see the following error:
[code]
[code]

[2022-09-08 06:23] josevalim commented on #336
This has been fixed in main. :)

[2022-09-08 06:23] #336 closed

[2022-09-08 07:26] petrkozorezov opened #337 "Explorer.Series.min(left, right)"
I'm trying to find minimum between two columns, and was surprised that there is no such function (like Nx.min/2).
[code]
Maybe I do not see something and there is a better way to achieve this than filter + join?
[code]

[2022-09-08 07:36] josevalim commented on #337
@petrkozorezov it seems we need to expose the underlying operation from polars, based on min expression here: https://stackoverflow.com/questions/69888178/calculating-rowwise-minimum-of-two-series

[2022-09-08 15:06] josevalim commented on #281
So using enif_make_resource_binary is not practical because we don't have a single large binary.

We could point to each individual buffer as a resource, but that is blocked by #452, so for now I am using binary references. It makes strings 4-5x faster.

Thanks @joshuataylor!

[2022-09-09 05:58] joshuataylor commented on #281
So the way Rustler works with Elixir is great if you're returning something small (a struct, a string, an integer, whatever). Want to return back "hello" or 42 or something? That's fine, you'll have a great time with Rustler, it's a fantastic library.

The problem comes when returning large Vecs, which is all a Polars series really is.

If you have a series that can be copied instead of cloned, su

[2022-09-09 09:47] philss commented on #333
The changes of https://github.com/elixir-nx/explorer/pull/334 are now in the main. So I'm closing this.
Thanks for reporting, @nallwhy!

[2022-09-09 09:47] #333 closed

[2022-09-09 10:29] #279 closed

[2022-09-09 10:29] #281 closed

[2022-09-09 12:50] josevalim commented on #281
@joshuataylor I have just learned that Polars uses its own reference counting system. This means that we could directly point to the underlying Polars/Arrow binaries by using make_resource_binary, then bumping the ref count on ARC, and decreasing the ARC refcount when the binary is GCed.

Something else to explore to reduce allocation is to allow Iterators to be converted to lists. I believe today

[2022-09-09 12:56] josevalim opened #342 "Improvements to encoding"
I have just learned that Polars uses [its own reference counting system](https://pola-rs.github.io/polars/polars/prelude/struct.Arc.html). This means that we could directly point to the underlying Polars/Arrow binaries by using make_resource_binary, then bumping the ref count on ARC, and decreasing the ARC refcount when the binary is GCed. Doing so means we don't need to double the allocation for

[2022-09-09 12:59] josevalim opened #343 "Add Explorer.Series.to_binary"
As well as `from_binary`. This will make the conversion to and from tensors much more efficient.

There is the question of what to do with `nil` values. We probably want to raise but we should keep a flag where we don't raise (but we don't guarantee the values).

[2022-09-09 20:36] josevalim commented on #342
Another idea to explore is to preload NifStructs keys. Currently we are doing this to speed up encoding, specially in a loop:

https://github.com/elixir-nx/explorer/blob/9166d739e43eee7457e6e93ac7b918cf54f8bee4/native/explorer/src/encoding.rs#L65

However, I think we can do this automatically. There are a couple options:

1. When encoding a Vec<NifStruct>, we automatically encode the keys before h

[2022-09-10 14:33] joeybellerose opened #345 "Random Sorting With Arrange"
I'm attempting to sort a grouped data frame, but I appear to be getting different sorting results each time I run the code as shown in the two examples below.

I am using Elixir version 1.13.4 and my dependencies are shown below:
[code]

What am I doing wrong?

Example 1
![CleanShot 2022-09-10 at 10 29 19](https://user-images.githubusercontent.com/28072958/189487898-7918ac09-65cc-4994-90f1-4c7ba1e

[2022-09-10 14:40] philss commented on #345
Hey @joeybellerose 👋

The behavior is fixed in a branch I'm working on.
The sorting is going to be stable inside groups.

I will let you know when it's fixed. :)

[2022-09-10 19:30] joeybellerose commented on #345
@philss Thanks so much!

[2022-09-12 08:02] josevalim opened #347 "`to_*` functions should just return `:ok`"
The filename is given as input, no need to return them as output.

[2022-09-12 08:03] josevalim opened #348 "Add Series.memtype that returns the memory type"
It should mirror Nx types: `{:u, 32}`, `{:s, 32}` and then `:utf8` for strings. For DateTime `{:s, 64}` and Date `{:s, 32}`.

[2022-09-12 11:27] josevalim opened #350 "Series binary operators should allow series on either side"

[2022-09-13 08:40] #348 closed

[2022-09-13 14:30] #347 closed

[2022-09-14 14:05] liveforeverx opened #353 "Regex support?"
First, thank you for great library!

Do you plan (or when do you plan) to support regex manipulations in polars?

Example would be, build a new column, which extracts multiple matches from another column using regex expression and combining output. Is it possible currently archive in another way?

I would be open to contribute them with some guidance.

[2022-09-18 10:41] petrkozorezov opened #355 "Transform is not working on 0.3.x"
[code]

[code]
[code]

[2022-09-18 10:47] petrkozorezov opened #356 "`Series.replace` function?"
Is it possible to replace values in series somehow (e.g. `0` with `1`)?
I didn't find any solution for this except of transform.
There is no `select` like in Nx and no `if then else` like in dplyr.
(and, I think, such functions will be very useful)

[2022-09-18 10:53] josevalim commented on #355
Correct. `mutate_with` now performs a lazy operation and we cannot perform a transform lazily. I think this may work:

[code]

However, this will stop working on v0.4. We could allow it to work but it means people can accidentally write eager operations when they should be lazy. I think we need to introduce a specific API for replacing one or more columns in a dataframe. @cigrainger, do you have a

[2022-09-21 14:58] petrkozorezov opened #358 "Incorrect summarization"
[code]

[code]
Result should be `3.6`, but it's `0.0`
[code]

the same behavior simple `summarise`
[code]

[2022-09-21 19:46] #350 closed

[2022-09-21 20:07] philss commented on #358
Hi @petrkozorezov :wave:

I think the problem is that `summarise_with/2` does not know which row to pick inside the group in order to make the multiply operation.
You can use operations like `Series.first/1` or `Series.last/1` to take the right mask inside the group:

[code]

But, if I understood correctly, you could add the column with a `mutate_with/2` before groupping and summarising:

[code]

[2022-09-21 20:25] petrkozorezov commented on #358
This is a minimal working example, my real case is much more complected.
And the another working solution for this problem is to swap `ES.multiply` argument.
But I think this is incorrect and unexpected behavior.
I was surprised to see it after a few hours of debugging.

[2022-09-22 16:33] philss commented on #358
@petrkozorezov yeah, you are right. This is a bug.
After some investigation, I found that the problem is in Polars -  (we use Polars as the backend of Explorer).
I opened this issue there: https://github.com/pola-rs/polars/issues/4937

[2022-09-22 17:00] petrkozorezov commented on #358
@philss great! Thank you!
I thought about, but didn't know how to check, because it isn't obvious to understand what code exactly is generated and passed to polars.

[2022-09-23 09:38] philss opened #359 "Update Polars to 0.24"

[2022-09-23 09:39] philss commented on #358
The problem was fixed upstream - https://github.com/pola-rs/polars/pull/4943. But we need to upgrade to v0.24.0 of Polars and then try to use the version from GitHub. I added an issue for the first upgrade: #359

[2022-09-26 23:41] jc00ke commented on #157
I'm excited to see an open issue for this. We may be in need of profiling in the near term. I have no experience with Python or pandas, but I did just find [pandas-profiling](https://github.com/ydataai/pandas-profiling) which is maybe the 2.0 of this `describe/1` feature.

[2022-09-27 21:38] #358 closed

[2022-09-27 21:38] #359 closed

[2022-09-27 21:41] philss commented on #358
@petrkozorezov this is fixed in the main branch. Thanks for the report!

[2022-10-01 10:29] thbar commented on #284
I am starting to implement tests for the CSV part, based on the arrow2 test suite, which turns out to be a good inspiration.

[2022-10-08 14:53] nallwhy commented on #355
Similar problem.

How can I know which operations are available to be performed lazily?

Following https://hexdocs.pm/explorer/Explorer.DataFrame.html#mutate_with/2,

I didn't get the meaning of `The only requirement is that a series operation is returned.`

[code]

[code]

[2022-10-08 14:55] nallwhy commented on #355
Oh, it is just not implemented!

https://github.com/elixir-nx/explorer/blob/main/lib/explorer/backend/lazy_series.ex#L450

[code]

[2022-10-08 15:32] josevalim commented on #355
Yes, I improved the error message. It is not implemented yet, a PR is welcome!

[2022-10-08 17:40] xaviRodri opened #364 "Missing normalisation for "datetime[ns]" dtype"
Today I was starting my Explorer journey and I pulled a parquet dataset from "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month}.parquet" (e.g.: year -> 2019, month -> 01).

When importing it using `Explorer.DataFrame.from_parquet/1`, I realised we are missing the match to the "datetime[ns]" dtype in the `PolarsBackend.Shared.normalise_dtype/1` function.

Are we really

[2022-10-08 17:47] josevalim commented on #364
Closing in favor of the PR (so the discussion is in one place).

[2022-10-08 17:48] #364 closed

[2022-10-09 04:21] nallwhy commented on #355
@josevalim I'm trying to implement `Explorer.Series.concat/2` with reference to `Explorer.Series.coalesce/2`.
Should LazySeries be able to operate only with LazySeries?

For example, `Explorer.Series.coalesce/2` doesn't allow operation with Series and LazySeries.

[code]

[code]

[2022-10-09 07:16] josevalim commented on #355
I think concat can work on non lazy series too, similar to how addition works, but the result must always be a lazy series.

[2022-10-09 08:08] nallwhy commented on #355
Oh, I'm getting to understand the concept of lazy series. Thanks!

[2022-10-10 13:37] nallwhy opened #367 "Allow operation between Series and LazySeries"
- [x] Series + LazySeries -> LazySeries
- [x] LazySeries + Series -> LazySeries

The code below should work.

[code]

Reference: https://github.com/pola-rs/polars/pull/4988

[2022-10-10 13:37] nallwhy commented on #367
Let me handle this issue

[2022-10-10 15:52] nallwhy commented on #367
Hmm.. maybe I misunderstood the reference PR.

For the arithmetic operations, polars do series + expr -> series. right?

I need to check series + expr -> expr, expr + series -> series works first.

[2022-10-10 16:00] philss commented on #367
@nallwhy I think you need to transform the series to a literal value expression first. Maybe https://docs.rs/polars/latest/polars/series/struct.Series.html#method.lit does the trick, but I'm not sure.

[2022-10-10 16:20] philss opened #368 "Use literal values instead of creating Series when using scalar values"
This is performance issue discussed in https://github.com/elixir-nx/explorer/pull/366#issuecomment-1273525946

We should avoid creating large series when broadcasting values to series operations.

This should fix this optimization note: https://github.com/elixir-nx/explorer/blob/d6c6868f1d5751f0c1a96db35052e17333191669/lib/explorer/polars_backend/series.ex#L168

[2022-10-10 16:22] philss commented on #368
@nallwhy @josevalim I'm going to open a PR for this.

[2022-10-10 16:26] nallwhy commented on #367
@philss Thanks! It works :)

[2022-10-11 16:26] #368 closed

[2022-10-11 16:32] nallwhy opened #371 "Optimize ops of PolarsBackend.Series using scalar values with broadcasting"
### AS-IS

(series, scalar) or (scalar, series) -> expression

### TO-BE

(series, scalar) or (scalar, series) -> broadcasting in polars

from @philss

example: https://github.com/nallwhy/explorer/commit/6c0147dcc3bd1f31590238b8ed58eda7ace9876b
benchmarks: https://github.com/elixir-nx/explorer/pull/370#issuecomment-1274932347
discussion: https://github.com/elixir-nx/explorer/pull/370#issuecomment-

[2022-10-14 15:25] nallwhy opened #373 "Fix invalid error message"
There is neither `Explorer.backend_transfer/1` nor `Explorer.backend_copy/1`.

[code]

[2022-10-16 01:08] nallwhy opened #374 "Mismatch dtypes of `Explorer.Series.pow/2` result in data frame and series when mutate with lazy series"
[code]

[2022-10-16 08:21] nallwhy commented on #374
It will happen after pow/2 between series is allowed.

[2022-10-16 08:27] nallwhy opened #375 "Allow `Explorer.PolarsBackend.Series.pow/2` on (series, series)"
`./lib/explorer/polars_backend/series.ex:216`

[code]

[2022-10-16 08:42] josevalim commented on #375
Yes, please do send a PR! :)

[2022-10-16 11:45] nallwhy commented on #375
https://github.com/pola-rs/polars/pull/3908/files

[2022-10-16 11:54] nallwhy commented on #375
I have no idea yet

[2022-10-16 16:26] #373 closed

[2022-10-21 13:37] nallwhy opened #378 "Refactor `Explorer.Series.divide/2`"
It can be more generalized.

[code]

[2022-10-21 13:38] nallwhy opened #379 "Allow `Explorer.Series.pow/2` on (number, lazy series)"
Specs related to `Explorer.Series.pow/2` also should be changed.

[2022-10-21 13:55] josevalim commented on #378
Good call! PR welcome!

[2022-10-21 14:11] nallwhy opened #381 "Implement not implemented functions for lazy series"
[code]

### Functions that should be implemented
- [ ] `mask/2`
- [x] `sample/4` - https://github.com/elixir-nx/explorer/pull/385
- [x] `size/1` - https://github.com/elixir-nx/explorer/pull/385
- [ ] `slice/2`
- [ ] `take_every/2`

### Functions that NOT should be implemented

- `memtype/1`
- `fetch!/2`
- `from_list/2`
- `to_enum/1`
- `to_list/1`
- `transform/2`

[2022-10-21 14:13] nallwhy commented on #381
@josevalim @philss Please check it's correct

[2022-10-21 14:15] nallwhy commented on #355
How about close it and follow up on this in #381?

[2022-10-21 14:28] josevalim commented on #381
We cannot implement `fetch!` because it requires getting a value from something lazy (which has no value).

We cannot implement `transform` because it requires Elixir functions, and we cannot convert those to backend operations (such as Rust, SQL queries, etc).

You may be able to implement the others... but not guaranteed.

[2022-10-21 14:28] josevalim commented on #355
I think this is a separate problem. We can't really support transform for lazy series. :)

[2022-10-21 14:37] nallwhy commented on #381
Thanks!

[2022-10-21 17:37] philss commented on #355
Just to answer the [question](https://github.com/elixir-nx/explorer/issues/355#issuecomment-1250243355), I think the second option looks better:

[code]

With `put` you can add or replace a column.

[2022-10-21 17:54] philss commented on #374
@nallwhy I choose to keep it as float because it's common to have `pow/2` operations with integers that the result is a float. Please take a look: https://github.com/pola-rs/polars/issues/4796

I think we should standardize the eager implementation to always return float as well. WDYT?

cc/ @josevalim @cigrainger

[2022-10-21 18:00] josevalim commented on #374
Nx allows power of integers and the result is an integer. If a negative number is given as exponent, it raises.

[2022-10-21 22:00] #367 closed

[2022-10-24 14:11] #379 closed

[2022-10-24 14:58] nallwhy commented on #375
Considering just doing this with converting series to lazy series, like other arithmetic ops.

[2022-10-24 15:03] nallwhy commented on #374
Is it possible to don't follow the result of polars?

[2022-10-24 15:03] #378 closed

[2022-10-24 16:03] philss commented on #374
I think only with casting. We would need to cast the resultant series.

[2022-10-24 16:29] josevalim commented on #374
Maybe `pow` in Polars has the same semantics as Python, which is that it returns integer for integers and float for floats. If that's the case, I would rather align Explorer to expect the same result as Polars/Python. Which is also how Nx and Elixir behaves.

[2022-10-24 16:36] josevalim commented on #374
I would even go ahead and suggest to rename to `power` to match `Nx`.

[2022-10-27 20:48] #265 closed

[2022-10-30 12:45] nallwhy commented on #375
[code]

[code]

[2022-10-30 12:47] nallwhy commented on #375
It's not a good choice to use expressions.

[2022-10-30 13:17] nallwhy opened #389 "Allow `Explorer.PolarsBackend.Series.pow/2` on (number, series)"
[code]

[2022-10-30 13:58] nallwhy commented on #233
@josevalim Can I get this one?

[2022-10-30 14:20] josevalim commented on #233
Yes! You are doing awesome work, feel free to pick up anything :)

[2022-10-31 14:20] nallwhy commented on #219
Is only integer -> float normalization possible?

[2022-10-31 17:34] josevalim commented on #219
I think so... so maybe it is not worth it? We can normalize it after the fact. I will close this for now. :)

[2022-10-31 17:34] #219 closed

[2022-10-31 21:14] #233 closed

[2022-10-31 21:25] #389 closed

[2022-11-01 19:15] philss commented on #345
@joeybellerose Sorry for the delay :grimacing:

Please check the version of `main`. It is fixed there, and should be available in the next release. Thanks for the report!

[2022-11-01 19:15] #345 closed

[2022-11-04 03:08] philss commented on #245
I think `slice/2` won't work with ranges for a grouped dataframe, because we can't know the size of each group beforehand. I think we could only support `slice/2` with row indices. WDYT?

[2022-11-04 07:33] josevalim commented on #284
We have started on this for CSV and Parquet. More will come as we add/remove features.

[2022-11-04 07:33] #284 closed

[2022-11-04 07:36] josevalim commented on #342
This is in!

[2022-11-04 07:36] #342 closed

[2022-11-04 07:37] josevalim commented on #356
I think we should implement `select` or something similar.

But why do we need a replace? Isn't that the same as creating a new series?

[2022-11-04 07:40] josevalim commented on #245
@philss ah... in this case, maybe we should pass the range all the way down to Rust? Or at least the start, stop, and stride. It is a bit annoying because we would need to implement the normalization in rust but it should be relatively straight-forward.

[2022-11-04 07:44] petrkozorezov commented on #356
Looks like it's the same and `select` will be ok.

[2022-11-04 15:39] philss commented on #245
@josevalim yeah, makes sense. :+1:
I'm going to try that. My only concern is that Rust ranges don't accept steps. But I can validate that in the backend.

[2022-11-05 16:46] wadehenning opened #396 "Dataset not loading in production"
`Explorer.Datasets.iris` is working fine in dev.  I am loading the data in `mount()`.  The LiveView throwns a immediate Internal Server Error in production on fly.io: `Failed to load resource: the server responded with a status of 500 ()`.

The deploy logs indicate that the dataset is not loading:
![image](https://user-images.githubusercontent.com/10761087/200131411-bfeb54cf-2f82-4a56-9256-188cf6a

[2022-11-05 16:49] josevalim commented on #396
The datasets are not available in prod because they would balloon the release size and they are rarely used in production. If you need them, then I recommend adding the relevant sources to your app priv directory and loading yourself. I will improve the docs.

[2022-11-05 19:03] wadehenning commented on #396
@josevalim thanks.  That is fair and I thought that might be the case.

[2022-11-05 19:03] #396 closed

[2022-11-07 15:51] philss commented on #245
I'm investigating the rest of the operations (the ones from "To discuss" section) and I will follow the behaviour we see in dplyr, if that is OK for you.

For `pivot_longer` and `pivot_wider` the groups are kept if they are not used in the pivoting operation. For example, if we have a group that is used as a column to `pivot_longer`, that group is not going to appear in the resultant dataframe. I

[2022-11-09 19:14] philss commented on #245
The `join` operations described in https://dplyr.tidyverse.org/articles/two-table.html don't specify what happens with groups, but I found that the groups are kept if they are in the left-hand side of the operation.

So, for example, if we have two dataframes:

[code]

If we add a group in `df1`, this group is going to be present in the resultant dataframe.
Buf if we add a group in the `df2`, it i

[2022-11-09 19:20] josevalim commented on #245
For left join it makes sense to keep one side but not the other. Then inner_join makes sense to mirror left_join. So I agree with this behaviour.

[2022-11-10 00:59] miXwui opened #400 "Applying a function/transform on grouped series"
I'm trying to transform data like this:
| a | b |
|---|---|
| 1 | a |
| 1 | b |
| 2 | c |
| 2 | d |

By first grouping by column `a` and then concatenating all values in column `b` within each group.
Result:
| a | b_merged |
|---|---|
| 1 | a, b |
| 2 | c, d |

Code:
[code]

[code]
Possibly related:
https://github.com/elixir-nx/explorer/issues/381

Similarly with dplyr:
https://stackoverflow.com/q

[2022-11-10 01:24] philss commented on #400
This is not possible today. But I think with the addition of the [list dtype](https://github.com/elixir-nx/explorer/issues/296) we could easily do something similar to that.

Unfortunately `Explorer.Series.to_list/1` won't work as expected inside the `summarise_with` or `mutate_with` because there is no way to fetch the data at that point because all data is lazy inside those functions.

I will in

[2022-11-10 01:35] miXwui commented on #400
Ah, now I understand why. Thanks for the explanation and much appreciated @philss!

[2022-11-10 05:10] #400 closed

[2022-11-10 14:17] josevalim commented on #158
Hi @nallwhy! Since you were investigating this area, you would like to send a PR to address this? What do you think?

[2022-11-10 14:20] #381 closed

[2022-11-10 14:27] josevalim opened #402 "Implement Explorer.Query"
The initial proof of concept is in. We need to provide wrappers for:

* [x] filter_with
* [x] mutate_with
* [x] summarize_with
* [x] arrange_with

We also need:

* [x] Make the LazySeries backend names consistent with the front-end
* [x] Provide the remaining operators `+, -, *, /, **, and, not, or` (anything else?)

[2022-11-10 14:32] josevalim opened #403 "Rename var, std, and pow"
Elixir generally avoids shortcut in names. So we should rename them to `variance`, `standard_deviation`, and `power`, which mirrors Nx.

[2022-11-10 16:21] josevalim opened #404 "Test and verify null_lasts behaviouir in sort/argsort"
In postgres, we have:

Which also matches Elixir and is what we do.

[2022-11-10 17:09] philss commented on #245
For `concat_rows`, I could only find the `union/union_all` operations that are similar in dplyr: https://dplyr.tidyverse.org/reference/setops.html

They will keep only the groups of the first dataframe (or the left-hand side df), and ignore the rest.
I think this is fine, and I'm going to document/test that.

[2022-11-10 21:27] philss commented on #245
Closing this, since all the functions are fixed and documented. :tada:
If we have more that are not in this list, we should create individual issues. :)

[2022-11-10 21:27] #245 closed

[2022-11-12 10:34] nallwhy commented on #158
@josevalim Sure!

So is it about the common length rule(?) for ops between series right? not just about equal op?

[2022-11-12 11:09] josevalim commented on #158
Yes, it is a common rule related to broadcasting. If a single element, it applies to all. If more than one, the lengths should match otherwise it raises.

[2022-11-12 12:07] nallwhy commented on #404
`nil` is always first now

[code]

[2022-11-12 12:10] nallwhy commented on #158
I see!

[2022-11-12 15:05] josevalim commented on #404
Exactly. We should change both to be nulls last.

[2022-11-12 19:40] #403 closed

[2022-11-15 16:53] linusdm opened #411 "Typespec of `Series.max/1` and `Series.min/1` are missing `nil` as a possible result type"
As far as I can see the return value of `Series.max/1` and `Series.min/1` can be `nil` if the series passed to it is empty. When matching on the result, dialyzer warns about `nil` not being a possible outcome for these functions.

See here for the typespec: https://github.com/elixir-nx/explorer/blob/main/lib/explorer/series.ex#L850

Is it as easy as this sounds? Just add `nil` as a possible type?

[2022-11-15 17:09] philss commented on #411
Hi @linusdm
Yeah, you are correct. It is missing `nil` as a possible type. We need to add there and in the callback specs here: https://github.com/elixir-nx/explorer/blob/8fcbb4ce876f02f855d3d8fda471673f37406cc3/lib/explorer/backend/series.ex#L47

I think this may be a problem for all the functions that may return a scalar value (number, string, or datetime). If you want to fix that, PRs are welco

[2022-11-16 16:34] #411 closed

[2022-11-17 02:59] josephmachado commented on #157
Excited to see Explorer catching up to Pandas. I'm a DE and `pandas describe` is always the first thing I do when I am exploring the data. Would be create to see this in explorer. 🎉

[2022-11-18 06:45] josevalim opened #414 "Add Explorer.DataFrame.put/3"
Just to answer the [question](https://github.com/elixir-nx/explorer/issues/355#issuecomment-1250243355), I think the second option looks better:

[code]

With `put` you can add or replace a column.

[2022-11-18 06:45] josevalim commented on #355
Closing in favor of #414.

[2022-11-18 06:45] #355 closed

[2022-11-18 20:33] #402 closed

[2022-11-19 08:25] kimjoaoun commented on #353
Isn't it possible doing so using Elixir's already existing regex capabilities?

I don't know if that's exactly what you want, but I think you might write a function that returns the desired value after evaluating a cell with `Regex.match?/2`, and then you could map this function over an existing column, and using `Explorer.DataFrame.mutate` it is possible create a new one.

[2022-11-19 08:31] kimjoaoun opened #419 "`filter/2` function grouping on documentation index"
When reading through the docs one might see that `DataFrame.filter/2` is not properly grouped in the HexDocs modules section/index. Similar functions are grouped in the `Explorer.DataFrame > Functions: Single Table` section, but not filter/2. Is there a reason to do so?
I believe the function should be inside the "Functions: Single Table" subsection.

[2022-11-19 08:36] josevalim commented on #353
You can use Series.transform with Elixir regexes but that requires materializing all results to Elixir and back, which is not the most efficient format.

[2022-11-19 08:37] josevalim commented on #419
Good find, it has been fixed in main!

[2022-11-19 08:37] #419 closed

[2022-11-19 17:00] #414 closed

[2022-11-19 17:19] philss opened #421 "Update "Exploring Explorer" notebook for v0.4 changes"

[2022-11-23 04:52] #190 closed

[2022-11-23 17:36] philss commented on #404
I'm working on this :)

[2022-11-23 21:58] #404 closed

[2022-11-24 10:21] josevalim opened #426 "Add Series float predicates: is_finite/1, is_infinite/1, is_nan/1"
They are float only.

[2022-11-24 17:28] #421 closed

[2022-11-25 15:25] #343 closed

[2022-11-25 15:26] #278 closed

[2022-11-25 20:03] josevalim opened #431 "Do not leak UInt32 types to Elixir"

[2022-11-25 21:07] josevalim opened #432 "Decide if dummies should be booleans or integers"
Currently they are u8, but we should not leak multiple integer representations to Elixir. We can either make them i64 or booleans. Booleans look more natural and use less memory.

[2022-11-26 17:43] josevalim opened #434 "Allow series to be given to both Series.slice and DF.slice"

[2022-11-26 23:56] josevalim opened #436 "Rename DF.select/3 to take and drop"
Cons of `select`:

  * `Series.select/3` means something else
  * `SELECT` in databases means something else
  * Dropping columns with `select` is verbose: DF.select(df, ["foo"], :drop)

Pros of `take`/`drop`:

  * Shorter for selecting
  * Considerably shorter for dropping
  * `take` and `drop` are known map operations (i.e. columnar)

Cons of `take`/`drop`:

  * `Enum.take` and `Enum.drop` also

[2022-11-27 00:01] josevalim commented on #436
Closing this. `select` is one of the main verbs coming from dplyr and we should not change it. But perhaps it is worth adding `discard` as a shorter way of doing `select+drop`, as we can't have the elegant negation found in dplyr.

[2022-11-27 00:01] #436 closed

[2022-11-27 00:03] josevalim opened #437 "Add DF.discard(df, columns) instead of DF.select(df, columns, :drop)"

[2022-11-27 00:07] cigrainger commented on #432
I think booleans are fine. The reason I think most folks return 0/1 is for use with math. Dummies are often used in regression, e.g. as fixed effects and in that case you want to be able to multiply etc. Does Nx have a boolean tensor or is it just u8?

[2022-11-27 00:11] cigrainger commented on #437
I think that's fine. This comes from the `dplyr` idiom of tidy selection using `-column` w/ select. Keeping the number of verbs small is always a good goal, but I don't think discard hurts.

[2022-11-27 00:13] josevalim commented on #437
Yeah, my main concern is that there is no easy of us doing `-` in Elixir, which is quite elegant in R and I feel hiding dropping columns behind `select` is too hidden.

[2022-11-27 00:26] josevalim commented on #432
It is just u8. Which brings another concern: polars keeps booleans in a bitmap, which means we need to allocate tensors when converting a series of booleans to tensors.

The other issue is that u8 (not booleans) and u32 returned by polars eventually leak, for example, take this:

[code]

Which is why it is in our best interest to not keep u8 and u32 around. If it is used for regression and multipl

[2022-11-27 00:50] josevalim commented on #432
We can also have the dtype as an option, so any is fine, we just need to pick one as default and perhaps i64 is the least surprising.

[2022-11-27 10:51] josevalim commented on #431
I was able to remove most of them, except for `expr_count` which still returns u32. Trying to cast the value there changes the result of the expression and two tests fail. It seems to be a polars bug that would need to be isolated.

[2022-11-27 11:05] #437 closed

[2022-11-27 11:07] josevalim commented on #437
I pushed this and I quite like it:

[code]

Albeit it is a new verb, I think the intent is clearer. :)

[2022-11-27 11:08] josevalim commented on #432
Keeping as i64 for now for consistency with other languages unless @cigrainger prefers booleans. :)

[2022-11-27 11:08] #432 closed

[2022-11-28 19:29] cigrainger commented on #437
I like it too!

[2022-11-28 20:55] philss commented on #337
I think we can use the new `Explorer.Series.select/3` to perform this:

[code]

[2022-11-28 20:57] #337 closed

[2022-11-28 23:13] #182 closed